<header class="view-header vertical">
  <div>
    <h2><%= @user.full_name %></h2>
  </div>

  <div>
    <%= @user.primary_position&.name || "Position n/a" %>
  </div>
</header>

<br />


<div class="rail narrow">
  <section>
    <aside>
      <%= render partial: "business/employees/shared/sidebar" %>
    </aside>

    <article id="wage-info-form">
      <%= render partial: "business/employees/wages/form",
        locals: { user: @user } %>
    </article>
  </section>
</div>

<%= render partial: "invalid_exemption_modal" %>
