<div class="frame">
  <header>
    <div><%= t(".title") %></div>
  </header>

  <section>
    <article>
      <div class="instructions">
        <%= t(".instructions") %>
      </div>
      <br /><br />

      <% if @scheduling_periods.present? %>
        <table class="table bordered">
          <thead>
            <tr>
              <th><%= t(".location") %></th>
              <th><%= t(".date_ranges") %></th>
              <th></th>
          </thead>
          <% @scheduling_periods.each do |scheduling_period| %>
            <tr>
              <td><%= scheduling_period.location.name %></td>
              <td><%= scheduling_period.label %></td>
              <td>
                <%= link_to( t(".view_and_approve"),
                  locations_location_scheduling_period_path(
                    scheduling_period.location,
                    scheduling_period
                  )
                ) %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="centered">
          <%= t(".no_schedules") %>
        </div>
      <% end %>
    </article>
  </section>
</div>
