<tr>
  <td><%= presenter.name %> <%= presenter.warnings %></td>
  <td><%= presenter.total_scheduled_hours %></td>
  <td><%= presenter.total_worked_hours %></td>
  <td class="<%= presenter.variance_classes %>"><%= presenter.variance %></td>
  <td><%= presenter.scheduled_regular_hours %></td>
  <td><%= presenter.scheduled_overtime_hours %></td>
  <td><%= presenter.estimated_scheduled_pay %></td>
</tr>
