<div class="blog-posts-tile">
  <section>
    <div><%= t("models.blog_post.category.#{post.category}") %></div>

    <header>
      <h2>
        <%= link_to post.title, blog_post_path(post) %>
      </h2>
    </header>

    <article>
      <%= post.preview_description %>
    </article>

    <footer>
      by <span><%= post.creator.full_name %></span> - <%= post.published_at.to_s(:month_day_year) %>
    </footer>
  </section>

  <aside>
    <% if post.index_image.present? %>
      <%= link_to blog_post_path(post) do %>
        <%= image_tag(post.index_image_url) %>
      <% end %>
    <% end %>
  </aside>
</div>
