<article class="blog-posts-show" itemtype="http://schema.org/Article">
  <header>
    <div class="category">
      <%= link_to "Blog", blog_root_path %> » <span><%= @post.category %></span>
    </div>

    <h1 itemprop="headline"><%= @post.title %></h1>

    <h3 class="author">
      by <span itemprop="author">
        <%= @post.creator.full_name %>
      </span> on
      <span itemprop="datePublished">
        <%= @post.published_at.to_s(:month_day_year) %>
      </span>
    </h3>
  </header>

  <section itemprop="articleBody">
    <%= sanitize @post.body,
      tags: %w(strong em a h1 h2 h3 h4 h5 h6 blockquote ul li li),
      attributes: %w(href style src) %>
  </section>

  <% if policy("blog/admin".to_sym).show? %>
    <div>
      <%= link_to t(".edit"), edit_blog_admin_blog_post_path(@post) %>
    </div>
  <% end %>
</article>
