<%= render partial: "shared/marketing/top_nav" %>
<%= render partial: "shared/marketing/search_bar" %>

<div class="public-companies-searches-index" style="background-color: #f7f8fb">
  <div class="search-results">
    <% if @results.any? %>
        <%= render partial: "cant_find", locals: { company_name: @company_search.query } %>

        <section>
          <% @results.each do |result| %>
            <%= link_to(public_company_path(result), class: "result") do %>
              <div>
                <h4><%= result.name %></h4>
                <section>
                  <%= result.title_line %>
                </section>
              </div>
            <% end %>
          <% end %>

          <div class="pagination-container">
            <%= paginate @results %>
          </div>

          <%= render partial: "cant_find", locals: { company_name: @company_search.query } %>
        </section>
    <% else %>
      <%= render partial: "no_results", locals: { company_name: @company_search.query } %>
    <% end %>
  </div>
</div>

<%= render partial: "marketing/welcome/shared/divider_bar" %>
<%= render partial: "marketing/welcome/shared/footer" %>
