<%= render partial: "shared/marketing/top_nav" %>

<div class="public-companies-searches-index" style="background-color: #f7f8fb">

  <div class="search-bar">
    <%= simple_form_for :search, url: public_companies_searches_path, method: :get do |f| %>
      <%= f.input :query, wrapper: false, label: false %>

      <%= f.submit "Search", class: "button orange" %>
    <% end %>
  </div>


  <% if @results.present? %>
    <div class="search-results">
      <section>
        <% @results.each do |result| %>
          <%= link_to(public_company_path(result), class: "result") do %>
            <div>
              <h4><%= result.name %></h4>
              <section>
                <%= result.title_line %>
              </section>
            </div>
          <% end %>
        <% end %>

        <div class="pagination-container">
          <%= paginate @results %>
        </div>
      </section>
    </div>
  <% end %>
</div>
