<div class="settings-schedule-rules-form">
  <%= simple_form_for [:admin, @company, @schedule_rule] do |f| %>
    <section>
      <%= t("settings.schedule_rules.form.need") %>
      <%= f.input :number_of_employees, error: false, label: false %>
      <%= f.association :position,
        collection: current_company.positions,
        include_blank: false,
        error: false, label: false %><%= t("settings.schedule_rules.form.plural") %>
      <%= f.input :period, collection: ScheduleRule.collection_labels, error: false, label: false %>
      <%= f.input :day, collection: TimeRange::DAY_OPTIONS, include_blank: t("settings.schedule_rules.form.every_day"), error: false, label: false %>
    </section>

    <% if @schedule_rule.errors.present? %>
      <div class="errors">
        <ul>
          <% @schedule_rule.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
