<div class="schedule-rules-form">
  <%= simple_form_for [:settings, @schedule_rule] do |f| %>
    <section>
      I need
      <%= f.input :number_of_employees, error: false, label: false %>
      <%= f.association :position, error: false, label: false %>(s)
      <%= f.input :period, collection: ScheduleRule.collection_labels, error: false, label: false %>
    </section>

    <% if @schedule_rule.errors.present? %>
      <div class="errors">
        <ul>
          <% @schedule_rule.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
