<div class="welcome-pricing-included-features">
  <article>
    <h3>Included With All Plans</h3>

    <section class="feature-list">
      <article>
        <div>
          <article class="feature">
            <div><%= image_tag("marketing/icons/success.svg") %></div>
            <div>Easy Schedule Builder</div>
          </article>

          <article class="feature">
            <div><%= image_tag("marketing/icons/success.svg") %></div>
            <div>Multiple Locations</div>
          </article>

          <article class="feature">
            <div><%= image_tag("marketing/icons/success.svg") %></div>
            <div>Time Off Requests</div>
          </article>

          <footer>
            <div><strong>Be Scheduling In Minutes</strong></div>
            <div>
              Our easy to use onboarding wizard walks you through entering
              all the information needed to start scheduling.
            </div>
          </footer>

        </div>



        <div>
          <article class="feature">
            <div><%= image_tag("marketing/icons/success.svg") %></div>
            <div>Manager Approvals</div>
          </article>

          <article class="feature">
            <div><%= image_tag("marketing/icons/success.svg") %></div>
            <div>Repeating Shifts</div>
          </article>

          <article class="feature">
            <div><%= image_tag("marketing/icons/success.svg") %></div>
            <div>No Duration Limits</div>
          </article>

          <footer>
            <div><strong>Be Scheduling In Minutes</strong></div>
            <div>
              Our easy to use onboarding wizard walks you through entering
              all the information needed to start scheduling.
            </div>
          </footer>

        </div>



        <div>
          <article class="feature">
            <div><%= image_tag("marketing/icons/success.svg") %></div>
            <div>This is feature one</div>
          </article>

          <article class="feature">
            <div><%= image_tag("marketing/icons/success.svg") %></div>
            <div>Email & Push Notification Alerts</div>
          </article>

          <article class="feature">
            <div><%= image_tag("marketing/icons/success.svg") %></div>
            <div>Android and iOS apps</div>
          </article>

          <footer>
            <div><strong>Be Scheduling In Minutes</strong></div>
            <div>
              Our easy to use onboarding wizard walks you through entering
              all the information needed to start scheduling.
            </div>
          </footer>
        </div>
      </article>
    </section>

    <section>
      <div class="info-tile">
        <aside>
          <%= image_tag("marketing/icons/life-raft.svg") %>
        </aside>
        <section>
          <div><strong>Email & Chat Support</strong></div>
          <div>
            Message us anytime inside the application with questions you
            may have. Or email
            <a href="mailto:support@scheduleless.com">support@scheduleless.com</a>.
          </div>
        </section>
      </div>

      <div class="info-tile">
        <aside>
          <%= image_tag("marketing/icons/cc-icon.svg") %>
        </aside>

        <section>
          <div><strong>Convienant Credit Card Billing</strong></div>
          <div>
            PCI Compliant Credit Card billing ensures your information is
            secure. We'll email you the invoices.
          </div>
        </section>
      </div>
    </section>
  </article>
</div>
