<%= simple_form_for [:locations, @location, @scheduling_hour] do |f| %>
  <%= f.input :day, :label => t('.day') %>
  <%= f.input :minute_open_start, :label => t('.business_start_time') %>
  <%= f.input :minute_open_end, :label => t('.business_end_time') %>

  <div class="instructions">
    <div class="title"><%= t('.optional') %>:</div>
    <%= f.input :minute_schedulable_start, :label => t('.scheduling_start_time') %>
    <%= f.input :minute_schedulable_end, :label => t('.scheduling_end_time') %>
  </div>

  <%= f.submit %>
<% end %>
