<%= simple_form_for [:locations, @location, @scheduling_hour] do |f| %>
  <%= f.input :day,
    as: :select,
    collection: TimeRange::DAY_OPTIONS,
    disabled: true,
    label: t(".day")
  %>
  <%= f.input :minute_open_start,
    as: :select,
    collection: TimeRange.quarter_hour_options
  %>
  <%= f.input :minute_open_end,
    as: :select,
    collection: TimeRange.quarter_hour_options
  %>

  <br /><br />
  <div><%= t(".optional") %>:</div>
  <small><%= t(".optional_hint") %></small>
  <br /><br />

  <%= f.input :minute_schedulable_start,
    as: :select,
    collection: TimeRange.quarter_hour_options
  %>
  <%= f.input :minute_schedulable_end,
    as: :select,
    collection: TimeRange.quarter_hour_options
  %>

  <br>
  <%= f.submit %>
<% end %>
