<% if scheduling_hours.present? %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= t(".minute_open_start") %></th>
        <th><%= t(".minute_open_end") %></th>
        <th><%= t(".minute_schedulable_start") %></th>
        <th><%= t(".minute_schedulable_end") %></th>
      </tr>
    </thead>

    <tbody>
      <% scheduling_hours.each do |hour| %>
        <tr>
          <td><%= I18n.t('date.day_names')[hour.day] %></td>
          <td><%= MinutesToTime.for(hour.minute_open_start) %></td>
          <td><%= MinutesToTime.for(hour.minute_open_end) %></td>
          <td><%= MinutesToTime.for(hour.minute_schedulable_start) if hour.minute_schedulable_start %></td>
          <td><%= MinutesToTime.for(hour.minute_schedulable_end) if hour.minute_schedulable_end %></td>
          <td>
            <%= link_to t(".edit"),
              edit_locations_location_scheduling_hour_path(@location, hour),
              class: "button link" %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
<% else %>
  <%= t(".blank") %>
<% end %>
