<div class="credit-card-form">
  <div>
    <%= simple_form_for StripeCreditCardMock.new,
      url: "#",
      html: {
        id: "credit-card-form"
      } do |f| %>
      <%= f.input :name, placeholder: "A short description to remember easily" %>

      <label for="card-element"><strong>Card</strong></label>
      <div id="card-element" class="field is-empty input string">
        <!-- a Stripe Element will be inserted here. -->
      </div>
      <!-- Used to display form errors -->
      <div id="card-errors" role="alert"></div>
    <% end %>

    <%= simple_form_for [:settings, @credit_card] do |f| %>
      <%= f.input :token, as: :hidden %>
      <%= f.submit autocomplete: "off", disabled: false %>
    <% end %>
  </div>
</div>
