<div class="side-menu">
  <ul>
    <%= content_tag(:li, class: active?(after_sign_in_path_for(current_user))) do %>
      <%= link_to after_sign_in_path_for(current_user) do %>
        <span class="oi oi-calendar"></span>
      <% end %>
    <% end %>

    <%= content_tag(:li, class: active?(shifts_path)) do %>
      <%= link_to shifts_path do %>
        <span class="oi oi-signpost"></span>
      <% end %>
    <% end %>

    <%= content_tag(:li, class: active?(locations_path)) do %>
      <%= link_to locations_path do %>
        <span class="oi oi-map-marker"></span>
      <% end %>
    <% end %>

    <%= content_tag(:li, class: active?(business_users_path)) do %>
      <%= link_to business_users_path do %>
        <span class="oi oi-people"></span>
      <% end %>
    <% end %>

    <%= content_tag(:li, class: active?(trades_path)) do %>
      <%= link_to trades_path do %>
        <span class="oi oi-loop"></span>
      <% end %>
    <% end %>

    <li class="seperator"></li>

    <% if policy(:settings).show? %>
      <%= content_tag(:li, class: active?(settings_path)) do %>
        <%= link_to settings_path do %>
          <span class="oi oi-cog"></span>
        <% end %>
      <% end %>
    <% end %>


    <% if policy(:scheduleless_admin).show? %>
      <%= content_tag(:li, class: active?(admin_root_path)) do %>
        <%= link_to admin_root_path do %>
          <span class="oi oi-bolt"></span>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
