<div class="top-nav">
  <div class="search-icon" style="color: #fff">
    <button data-toggle="collapse" data-target="#new_search" aria-expanded="true" aria-controls="search-form">
      <span class="oi oi-magnifying-glass"></span>
    </button>
  </div>

  <%= form_for Search.new(search_params), method: :get, url: search_path, html: { class: "collapse show width" } do |f| %>
    <div>
      <%= f.text_field :query, label: false%>
    </div>
  <% end %>

  <ul class="top-nav-list">
    <%= content_tag(:li, class: active?(calendar_path)) do %>
      <%= link_to calendar_path do %>
        <%= t(".calendar") %>
      <% end %>
    <% end %>

    <%= content_tag(:li, class: active?(business_users_path)) do %>
      <%= link_to business_users_path do %>
        <%= t(".employees") %>
      <% end %>
    <% end %>
    <%= content_tag(:li, class: active?(settings_path)) do %>
      <%= link_to settings_path do %>
        <%= t(".settings") %>
      <% end %>
    <% end %>
  </ul>

  <button type="button" data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false">
    <span class="oi oi-menu"></span>
  </button>
</div>

<div class="collapse navbar-collapse" id="mobile-menu">
  <ul>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
</div>
