<div class="dashboards-approvals-time-off-approval">
  <header>
    <div>
      <div><span class="oi oi-sun"></span></div>
    </div>

    <div>
      <%= time_off_request.user.full_name %> is requesting off:<br />
      <%= time_off_request.label %>
    </div>
  </header>

  <article>
    <div class="approve">
      <%= simple_form_for(
        TimeOffRequests::Approval.new,
        remote: true,
        url: remote_dashboard_time_off_request_time_off_approvals_path(time_off_request)
      ) do |f| %>
        <%= f.input :accept, as: :hidden, input_html: { value: true } %>

        <%= f.submit "Approve" %>
      <% end %>
    </div>

    <div class="deny">
      <%= simple_form_for(
        TimeOffRequests::Approval.new,
        remote: true,
        url: remote_dashboard_time_off_request_time_off_approvals_path(time_off_request)
      ) do |f| %>
        <%= f.input :accept, as: :hidden, input_html: { value: false } %>

        <%= f.submit "Decline" %>
      <% end %>
    </div>
  </article>
</div>
