<table class="striped users-users">
  <thead>
    <tr>
      <th>Name</th>
      <th><%= t(".email") %></th>
      <th></th>
      <th></th>
    </thead>

    <tbody>
      <% presenter.users.map do |user| %>
        <tr>
          <td><%= link_to user.full_name, business_user_path(user) %></td>
          <td><%= user.email %></td>
          <td class="centered">
            <%= render partial: "users/#{presenter.invitation_state_for(user)}_badge" %>
          </td>
          <td>
            <% if policy(user).edit? %>
              <%= link_to(edit_business_user_path(user),
                          title: "Edit",
                          data: { toggle: "tooltip" }) do %>
                <span class="oi oi-pencil">
              <% end %>
            <% end %>

            <% if policy(user).destroy? %>
              <%= link_to(business_user_path(user),
                          method: :delete,
                          title: "Delete Employee",
                          data: {
                            confirm: "Are you sure? This employee will be permenantly deleted.",
                            toggle: "tooltip"
                          }) do %>
                <span class="oi oi-x"></span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
