<table class="striped">
  <thead>
    <tr>
      <th><%= t(".family_name") %></th>
      <th><%= t(".given_name") %></th>
      <th><%= t(".preferred_name") %></th>
      <th><%= t(".email") %></th>
      <th></th>
    </thead>

    <tbody>
      <% users.map do |user| %>
        <tr>
          <td><%= user.family_name %></td>
          <td><%= user.given_name %></td>
          <td><%= user.preferred_name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to_if policy(user).edit?, t(".edit"), edit_business_user_path(user) do %>
              <%= link_to t(".view"), business_user_path(user) %>
            <% end %>

            <% if policy(user).edit? %>
              <%= link_to t(".delete"), business_user_path(user), method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
