<div>
  <%= simple_form_for @user, url: user_path do |f| %>
    <div class="frame">
      <div class="rail">
        <section>
          <aside>
            photo goes here
          </aside>
          <article>
            <%= f.input :family_name %>
            <%= f.input :given_name %>
            <%= f.input :preferred_name %>
          </article>
        </section>
      </div>
    </div>

    <br><br>

    <div class="frame">
      <header>
        <div>Contact Info</div>
      </header>
      <section>
        <%= f.input :mobile_phone %>
      </section>
    </div>

    <br><br>

    <div class="frame">
      <header>
        <div>Availibility</div>
      </header>
      <section>
        <div>
          <% current_user.preferred_hours.each do |preferred_hours| %>
            <%= f.simple_fields_for "preferred_hours_attributes[]", preferred_hours do |ph| %>
              <%= ph.input :id, as: :hidden %>
              <%= ph.input :testing, as: :time_range %>
            <% end %>
          <% end %>
        </div>
      </section>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>