<div>
  <h1><%= t(".update_profile_heading") %></h1>
  <%= simple_form_for current_user do |f| %>
    <%= f.input :family_name %>
    <%= f.input :given_name %>
    <%= f.input :mobile_phone %>
    <%= f.input :preferred_name %>
    <%= f.button :submit %>
  <% end %>
</div>