<section style="max-width: 400px; margin: auto">
  <div class="instructions center">
    <h3><%= t(".title") %></h3>
  </div>

  <%= simple_form_for(resource,
                      as: resource_name,
                      url: password_path(resource_name),
                      html: { method: :put, data: { turbolinks: false }}) do |f| %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <%= f.input :password,
      label: t(".new_password"),
      required: true,
      autofocus: true,
      hint: t(".hint", length: @minimum_password_length) %>

    <%= f.input :password_confirmation,
      label: t(".confirm_password"),
      required: true %>

    <%= f.button :submit, t(".submit") %>
  <% end %>

  <div class="center" style="margin-top: 5px;">
    <%= link_to t(".sign_in"), new_session_path(:login_user) %>
  </div>
</section>
