<section style="max-width: 400px; margin: auto;">
  <div class="instructions center" style="margin-bottom: 80px;">
    <h3><%= t(".title") %></h3>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :email, required: true, autofocus: true %>

    <%= f.button :submit, t(".submit"), class: "button" %>
    <div style="margin-top: 5px" class="center">
      <%= link_to t(".sign_in"), new_session_path(:login_user) %>
    </div>
  <% end %>
</section>
