<div class="welcome-shared-footer">
  <article class="nav-links">
    <section class="navigate">
      <header>Navigate</header>

      <div>
        <%= link_to "Home", root_path %>
      </div>
      <div>
        <%= link_to "Why Report To Us", why_report_path %>
      </div>
      <div>
        <%= link_to "For Employers", new_company_inquiry_path %>
      </div>
      <% if 1 == 2 %>
        <div>
          <%= link_to "Sign Up", new_onboarding_registration_path %>
        </div>
        <div>
          <%= link_to "Sign In", new_login_user_session_path %>
        </div>
      <% end %>
    </section>

    <section>
      <header>Contact</header>

      We are here to answer any questions you may have. Just send us an email
      and we will get back to you as quickly as possible. We want to work
      with you to stop workplace harassment.

      <br /><br />
      <div class="contact-detail">
        <div>
          @
        </div>
        <div>
          <a href="mailto:support@coworkability.io">support@coworkability.io</a>
        </div>
      </div>

      <div class="contact-detail">
        <div>
          @
        </div>
        <div>
          <a href="mailto:press@coworkability.io">press@coworkability.io</a>
        </div>
      </div>

      <div class="contact-detail">
        <div>
          @
        </div>
        <div>
          <a href="mailto:info@coworkability.io">info@coworkability.io</a>
        </div>
      </div>

      <div class="contact-detail">
        <div>
          <span class="oi oi-map-marker"></span>
        </div>
        <div>
          <div>161 S. Huntington Ave #429</div>
          <div>Boston MA 02130</div>
        </div>
      </div>
    </section>

    <section>
      <header>Newsletter</header>

      Subscribe to our newsletter and get up to date insights into harassment
      and bullying prevention.
      <br />

      <%= simple_form_for EmailCapture.new do |f| %>
        <%= f.input :email, label: false, placeholder: "Email Address" %>
        <%= f.submit "Subscribe", class: "button" %>
      <% end %>
    </section>
  </article>

  <article class="made-in">
    Made With ❤️  in Boston
  </article>
</div>
