<%= simple_form_for [:settings, period] do |f| %>
  <%= f.input :type, as: :hidden %>
  <%= f.input :holiday_name,
    as: :select,
    collection: HolidayFinder.list,
    include_blank: false %>

  <div class="inline">
    <%= f.input :time_start,
      as: :select,
      collection: TimeRange.quarter_hour_options,
      include_blank: false %>
    <%= f.input :time_end,
      as: :select,
      collection: TimeRange.quarter_hour_options,
      include_blank: false %>
  </div>

  <%= f.submit %>
<% end %>
