<div class="day-schedule hours-<%= presenter.hours_to_draw %>">
  <div>
    <div class="labels">
      <% start = presenter.start_hour %>
      <% if presenter.end_hour and presenter.start_hour %>
        <% while start <= presenter.end_hour do %>
          <div><%= start.strftime("%l") %></div>
          <% start += 1.hour %>
        <% end %>
      <% end %>

    </div>

    <div class="ruler">
      <% start = presenter.start_hour %>
      <% if presenter.end_hour and presenter.start_hour %>

        <% while start <= presenter.end_hour do %>
          <div></div>
          <% start += 1.hour %>
        <% end %>

      <% end %>
    </div>

    <% presenter.shifts.each do |shift| %>
      <div class="employee">
        <div class="email">
          <%= shift.user.full_name %>
        </div>
        <%# TODO: Check policy here but avoid n+1 %>

        <div class="shifts">
          <% if presenter.manage_shift?(current_user, shift) %>
            <%= link_to("", presenter.edit_shift_route(shift),
              style: presenter.shift_style(shift),
              data: {
                toggle: "tooltip",
                placement: "top",
                title: presenter.formatted_minutes_for(shift)
            }) %>
          <% else %>
            <div style="<%= presenter.shift_style(shift) %>"
              data-toggle="tooltip"
              data-placement="top"
              title="<%= presenter.formatted_minutes_for(shift) %>">
            </div>
          <% end %>
        </div>
        <% if presenter.manage_shift?(current_user, shift) %>
          <%= button_to "delete",
            presenter.delete_shift_route(shift),
            class: "delete link",
            data: { confirm: "Are you sure you want to delete this shift?" },
            method: :delete
          %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if presenter.preview %>
    <br />
    <div>
      <%= link_to "Add Shift",
        new_locations_location_in_progress_shift_path(
          presenter.location,
          date: presenter.day,
          scheduling_period_id: @scheduling_period.id
        ),
        class: "button"
      %>
    </div>
  <% end %>
</div>
