<div class="day-schedule hours-<%= presenter.hours_to_draw %>">
  <div>
    <div class="labels">
      <% start = presenter.start_hour %>
      <% while start <= presenter.end_hour do %>
        <div><%= start.strftime("%l") %></div>
        <% start += 1.hour %>
      <% end %>
    </div>

    <div class="ruler">
      <% start = presenter.start_hour %>
      <% while start <= presenter.end_hour do %>
        <div></div>
        <% start += 1.hour %>
      <% end %>
    </div>

    <% presenter.shifts.each do |shift| %>
      <div class="employee">
        <div class="email">
          <%= shift.user.email %>
        </div>
        <%# TODO: Check policy here but avoid n+1 %>
        <%= link_to edit_location_shift_path(shift.location, shift) do %>
          <div class="shifts">
              <div style="<%= presenter.shift_style(shift) %>"
                data-toggle="tooltip"
                data-placement="top"
                title="<%= presenter.formatted_minutes_for(shift) %>">
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
