<div class="frame settings-index">
  <header>
    <div><%= t(".title") %></div>
  </header>
  <section>
    <article class="tiles">
      <div>
        <%= link_to settings_positions_path do %>
          <div>
            <span class="oi oi-pulse"></span>
            <%= t(".positions") %>
          </div>
        <% end %>
      </div>

      <div>
        <%= link_to settings_schedule_rules_path do %>
          <div>
            <span class="oi oi-project"></span>
            <%= t(".schedule_rules") %>
          </div>
        <% end %>
      </div>

      <div>
        <%= link_to edit_settings_company_preference_path do %>
          <div>
            <span class="oi oi-wrench"></span>
            <%= t(".company_preferences") %>
          </div>
        <% end %>
      </div>
    </article>
  </section>
</div>
