<%= simple_form_for [:onboarding, position] do |f| %>
  <%= f.input :name %>

  <div class="inline">
    <%= f.input :company_admin %>
    <%= f.input :location_admin %>
  </div>

  <%= f.submit %>
<% end %>
