<div class="new-calendars-show">
  <article>
    <%= @presenter.title %>
  </article>

  <header>
    <div>&nbsp;</div>

    <div>
      <button class="icon"><span class="oi oi-caret-left"></span></button>
      <%= @presenter.formatted_date %>
      <button class="icon"><span class="oi oi-caret-right"></span></button>
    </div>

    <div>
      <div class="new-icon-toggle">
        <a href="#" class="selected"><span class="oi oi-project"></span></a>
        <a href="#"><span class="oi oi-grid-three-up"></span></a>
      </div>
    </div>
  </header>

  <%= render partial: @presenter.partial,
             locals: { presenter: @presenter.partial_presenter } %>
</div>

<% content_for(:view_content_classes, "full-width") %>
<% content_for(:view_sidebar) do %>
  <%= render partial: "dashboards/calendar_sidebar" %>
  <%= render partial: "sidebar_content", locals: { presenter: @presenter } %>
<% end %>
