<div class="new-calendars-show">
  <!--
  <article>
    <%= @presenter.title %>
  </article>
  -->

  <header>
    <div>&nbsp;</div>

    <div>
      <%= link_to @presenter.previous_day_url, class: "button link" do %>
        <span class="oi oi-caret-left"></span>
      <% end %>

      <%= @presenter.formatted_date %>

      <%= link_to @presenter.next_day_url, class: "button link" do %>
        <span class="oi oi-caret-right"></span>
      <% end %>
    </div>

    <div>
      <div class="new-icon-toggle">
        <a href="#" class="selected"><span class="oi oi-project"></span></a>
        <a href="#"><span class="oi oi-grid-three-up"></span></a>
      </div>
    </div>
  </header>

  <%= render partial: @presenter.partial,
             locals: { presenter: @presenter.partial_presenter } %>
</div>

<% content_for(:view_content_classes, "full-width") %>
<% content_for(:view_sidebar) do %>
  <%= render(partial: "dashboards/calendar_sidebar",
    locals: {
      current_date: @presenter.current_date,
      selected_date: @presenter.selected_date
    }
  ) %>
  <%= render partial: "sidebar_content", locals: { presenter: @presenter } %>
<% end %>
