<div class="new-calendars-show">
  <header>
    <div>&nbsp;</div>

    <div>
      <%= link_to @presenter.previous_day_url, class: "button link" do %>
        <span class="oi oi-caret-left"></span>
      <% end %>

      <%= @presenter.formatted_date %>

      <%= link_to @presenter.next_day_url, class: "button link" do %>
        <span class="oi oi-caret-right"></span>
      <% end %>
    </div>

    <div>
      <div class="new-icon-toggle">
        <%= link_to(
          location_new_calendar_path(
            @presenter.location,
            date: @presenter.date_integer,
            view: "daily"
          ),
          @presenter.toggle_link_options(:daily)) do %>
          <span class="oi oi-project"></span>
        <% end %>

        <%= link_to(
          location_new_calendar_path(
            @presenter.location,
            date: @presenter.date_integer,
            view: "weekly"
          ),
          @presenter.toggle_link_options(:weekly)) do %>
          <span class="oi oi-grid-three-up"></span>
        <% end %>
      </div>
    </div>
  </header>

  <div id="new-calendar-show-calendar">
  <%# DailySchedulePreviewPresenter or WeeklySchedulePresenter %>
  <%= render partial: "show",
             locals: { presenter: @presenter.partial_presenter } %>
  </div>
</div>

<% content_for(:view_content_classes, "full-width") %>
<% content_for(:view_sidebar) do %>
  <%= render(partial: "dashboards/calendar_sidebar",
    locals: {
      current_date: @presenter.current_date,
      selected_date: @presenter.selected_date
    }
  ) %>

  <%# NewCalender::ShowPresenter %>
  <%= render partial: "sidebar_content", locals: { presenter: @presenter } %>
<% end %>
