<div class="frame">
  <section>
    <article>
      <div class="shift-display">
        <div class="date">
          <div><%= DateAndTime::Parser.new(date: shift.date).month %></div>
          <div><%= DateAndTime::Parser.new(date: shift.date).day %></div>
        </div>

        <div class="time">
          <%= "#{MinutesToTime.for(shift.minute_start)} - #{MinutesToTime.for(shift.minute_end)}" %>
        </div>

        <div class="buttons">
          <%= link_to t(".trade"), new_shift_trade_path(shift), class: "button" %>
          <%= button_to t(".cancel"),
            shift_cancellation_path(shift),
            data: { confirm: t(".confirm") },
            method: :post  %>
        </div>

        <div class="location">
          <% if shift.location.name.present? %>
            <strong><%= shift.location.name  %></strong><br>
          <% end %>

          <%= AddressFormatter.for(shift.location).multiline_html %>
        </div>
      </div>
    </article>
  </section>
</div>
