<div class="frame">
  <header>
    <div>
      <%= t(".title") %>

      <% if policy(User).create? %>
        <aside>
          <%= link_to t(".add_employee"), new_business_user_path %>
        </aside>
      <% end %>
    </div>
  </header>
  <section>

    <table class="striped">
      <thead>
        <tr>
          <th><%= t(".email") %></th>
      </thead>

      <tbody>
        <% @users.map do |user| %>
          <tr>
            <td>
              <%= link_to_if policy(user).edit?, user.email, edit_business_user_path(user) do %>
                <%= link_to user.email, business_user_path(user) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
