<%= simple_form_for [:onboarding, @lead] do |f| %>
  <%= f.input :preferred_contact,
      as: :select,
      include_blank: false,
      label: "Preferred Contact Method",
      collection: [["Email", "email"], ["Phone", "phone"]] %>

  <%= f.input :mobile_phone, type: :tel %>
  <%= f.input :note, label: "Any Additional Comments", hint: t(".note_hint") %>

  <div class="centered">
    <%= f.submit "Yes, please help me get set up" %>
  </div>
<% end %>


