<%= simple_form_for [:onboarding, current_user], url: onboarding_leads_path, method: :post do |f| %>
  <%= f.simple_fields_for :leads, @lead do |lf| %>
    <%= lf.input :preferred_contact,
      as: :select,
      include_blank: false,
      label: "Preferred Contact Method",
      collection: [["Email", "email"], ["Phone", "phone"]]
    %>
  <% end %>

  <%= f.input :mobile_phone, type: :tel %>

  <%= f.simple_fields_for :leads, @lead do |lf| %>
    <%= lf.input :note, label: "Any Additional Comments", hint: t(".note_hint") %>
  <% end %>

  <div class="centered">
    <%= f.submit "Yes, please help me get set up" %>
  </div>
<% end %>


