<% content_for(:sidebar) do %>
  <%= render partial: "onboarding/shared/wizard_steps",
    locals: { current_step: 1 } %>
<% end %>

<section>
  <div class="instructions">
    <h3><%= t(".title") %> </h3>
    <%= t(".description") %>
  </div>

  <%= render partial: "form" %>

  <footer>
    <%= link_to "Back", edit_onboarding_company_path, class: "button white" %>

    <% if current_user.locations.present? %>
      <%= link_to t(".skip"),
        edit_onboarding_location_path(current_user.locations.first),
        class: "button" %>
    <% else %>
      <%= link_to t(".skip"), new_onboarding_location_path, class: "button" %>
    <% end %>
  </footer>
</section>

<% content_for(:tracking) do %>
  <script type="text/javascript">
    $(function(){
      mixpanel.people.set({
        "Company Name": "<%= current_company.name %>",
        "$first_name": "<%= current_user.given_name %>",
        "$last_name": "<%= current_user.family_name %>",
        "$phone": "<%= current_user.mobile_phone %>"
      })
    });
  </script>
<% end %>
