<% content_for(:sidebar) do %>
  <%= render partial: "onboarding/shared/wizard_steps",
    locals: { current_step: 1 } %>
<% end %>

<section>
  <div class="instructions">
    <h3><%= t(".title") %> </h3>
    <%= t(".description") %>
  </div>

  <%= render partial: "form" %>

  <footer>
    <%= link_to "Back", edit_onboarding_company_path, class: "button white" %>

    <% if current_user.locations.present? %>
      <%= link_to t(".skip"),
        edit_onboarding_location_path(current_user.locations.first),
        class: "button" %>
    <% else %>
      <%= link_to t(".skip"), new_onboarding_location_path, class: "button" %>
    <% end %>
  </footer>
</section>



<% content_for(:tracking) do %>
  <script type="text/javascript">
    $(function(){
      mixpanel.alias("<%= current_user.id %>");
      mixpanel.identify("<%= current_user.id %>");

      mixpanel.people.set({
        "$email": "<%= current_user.email %>",
        "$last_login": new Date(),
        "Company Name": "<%= current_company.name %>",
        "Company Id": "<%= current_company.id %>",
        "User Id": "<%= current_user.id %>"
      })
    });
  </script>


  <% if Rails.env.production? %>
    <%# TODO: Use a config var here %>
    <!-- Google Code for Created Trial Account Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 849058464;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "UICsCKPp43IQoLXulAM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/849058464/?label=UICsCKPp43IQoLXulAM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
  <% end %>
<% end %>
