<%= simple_form_for [:settings, period] do |f| %>
  <%= f.input :type, as: :hidden %>

  <div class="inline">
    <label>Start Date</label>
    <%# TODO: Move this to a better place than the stripe credit card mock %>
    <%= f.input :day_start_month,
      as: :select,
      collection: StripeCreditCardMock.month_select_options,
      include_blank: false,
      label: false %>

    <%= f.input :day_start_day,
      as: :select,
      collection: (1..31),
      include_blank: false,
      label: false %>
  </div>

  <div class="inline">
    <label>End Date</label>
    <%# TODO: perhaps make this thing a custom simple form input %>
    <%= f.input :day_end_month,
      as: :select,
      collection: StripeCreditCardMock.month_select_options,
      include_blank: false,
      label: false %>

    <%= f.input :day_end_day,
      as: :select,
      collection: (1..31),
      include_blank: false,
      label: false %>
  </div>

  <%= f.input :level,
    as: :select,
    collection: PopularTime.level_options,
    include_blank: false %>

  <%= f.submit %>
<% end %>
