<% if @presenter.approvals? %>
  <%= link_to approvals_path, class: "warning" do %>
      Click here to review and approve your upcoming schedules
  <% end %>
<% end %>

<div class="rail">
  <section>
    <article class="calendar">
      <%= render partial: "calendar_frame", locals: {
        presenter: CalendarPresenter.new(location: presenter.current_location)
      } %>
    </article>

    <aside>
      <%= render partial: "location_select",
        locals: { presenter: @presenter } %>

      <div class="frame">
        <header>
          <div><%= t(".next_shift_title") %></div>
        </header>

        <section>
          <%= render partial: @presenter.next_shift_partial,
            locals: { presenter: @presenter } %>
        </section>
      </div>
    </aside>
  </section>
</div>

<div>
  <%= render partial: "day_schedule", locals: {
    presenter: @presenter
  } %>
</div>
