<% if @presenter.approvals? %>
  <%= link_to t(".schedule_approvals"), approvals_path, class: "warning" %>
<% end %>

<% if @presenter.time_off_approvals? %>
  <%= link_to(
    t(".time_off_approvals"),
    time_off_requests_approvals_path,
    class: "warning"
  ) %>
<% end %>

<div class="rail">
  <section>
    <article class="calendar">
      <%= render partial: "calendar_frame", locals: {
        presenter: CalendarPresenter.new(
          day: presenter.date,
          location: presenter.current_location
        )
      } %>
    </article>

    <aside>
      <%= render partial: "location_select",
        locals: { presenter: @presenter } %>

      <div class="frame">
        <header>
          <div><%= t(".next_shift_title") %></div>
        </header>

        <section>
          <%= render partial: @presenter.next_shift_partial,
            locals: { presenter: @presenter } %>
        </section>
      </div>
    </aside>
  </section>
</div>

<div id="daily-schedule">
  <% if @presenter.view == "week" %>
    <%= render partial: "calendars/week_schedule", locals: {
      presenter: WeekSchedulePresenter.new(
        day: @presenter.date,
        location: @presenter.current_location
        )
    } %>
  <% else %>
    <%= render partial: "day_schedule", locals: {
      presenter: @presenter
    } %>
  <% end %>
</div>
