<table class="table calendar">
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
  </thead>
  <tbody>
    <% (Date.today.beginning_of_month.beginning_of_week(:sunday)..Date.today.end_of_month.end_of_week(:sunday)).to_a.in_groups_of(7) do |group| %>
        <tr>
        <% group.map do |day| %>
          <% classname = day.month == Date.today.month ? "" : "inactive" %>
          <td class="<%= classname %>">
            <div>
              <% if day.day == Date.today.day %>
                <div class="today <%= day.to_s %>">
                  <%= link_to day.day,
                    location_daily_schedule_path(
                      Location.first,
                      date: day.to_s,
                      format: :js
                    ), remote: true  %>
                </div>
              <% else %>
                <div  class="<%= day.to_s %>">
                  <%= link_to day.day,
                    location_daily_schedule_path(
                      Location.first,
                      date: day.to_s,
                      format: :js
                    ), remote: true  %>
                </div>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
