<div class="frame">
  <header>
    <div>
      <section class="icon-toggle">
        <a class="selected" href="#"><span class="oi oi-project"></span></a>

        <%= link_to(
          location_daily_schedule_path(
            presenter.current_location,
            date: presenter.date.to_s,
            view: "week",
            format: :js
          ),
          remote: true
        ) do %>
          <span class="oi oi-grid-three-up">
        <% end %>

        <%= link_to(
          location_print_path(
            presenter.current_location,
            date: presenter.date.to_s
          ),
          target: "_blank") do %>
          <span class="oi oi-print"></span>
        <% end %>
      </section>

      Schedule for <%= presenter.date.to_s(:month_day_year) %>

      <aside>
        <%= link_to t(".new_shift"),
          new_locations_location_shift_path(presenter.date.to_s)
        %>
      </aside>
    </div>
  </header>

  <section>
    <article>
      <% if presenter.location_schedule.shifts? %>
        <%= render(
          partial: "shared/day_schedule",
          locals: {
            presenter: DaySchedulePresenter.new(
              day: presenter.date.to_s(:integer),
              location: presenter.current_location,
              shifts: presenter.location_schedule.shifts
            )
          }
          ) %>
      <% else %>
        <div class="empty-schedule">
          <%= t(".empty_schedule") %>

          <% if policy(:scheduling_period).create? %>
            <br>
            <%= link_to( t(".create_a_schedule"),
              locations_location_scheduling_periods_path(
                presenter.current_location
                )
              ) %>
          <% end %>
        </div>
      <% end %>
    </article>
  </section>
</div>
