<div class="next-shift">
  <header>
    <div class="date">
      <%= presenter.next_shift_date %>
    </div>

    <div class="time">
      <%= presenter.next_shift_time %>
    </div>
  </header>

  <section>
    <div>
      <strong><%= presenter.next_shift_location.name %><strong>
    </div>

    <%= AddressFormatter.for(presenter.next_shift_location).multiline_html %>

    <footer>
      <% if presenter.next_shift.checked_in? %>
        <%= button_to t(".check_out"), shift_check_out_path(presenter.next_shift) %>
      <% else %>
        <%= button_to t(".check_in"), shift_check_in_path(presenter.next_shift) %>
      <% end %>
    </footer>
  </section>
</div>
