<div class="next-shift">
  <header>
    <div class="date">
      <%= presenter.next_shift_date %>
    </div>

    <div class="time">
      <%= presenter.next_shift_time %>
    </div>
  </header>

  <section>
    <%= presenter.next_shift_location.name %><br>
    <%= safe_join(presenter.next_shift_address_line, "<br />".html_safe) %><br>
    <%= presenter.next_shift_city_line %>

    <% if presenter.next_shift.checked_in? %>
      <%= button_to "Check Out",  shift_check_out_path(presenter.next_shift) %>
    <% else %>
      <%= button_to "Check In",  shift_check_in_path(presenter.next_shift) %>
    <% end %>
  </section>
</div>
