<%# shifts for daily schedule %>

<% presenter.users.each do |user| %>

  <% shifts = [presenter.shifts_for(user).first].reject(&:blank?) %>

  <% if shifts.present? %>
    <% shifts.each do |shift| %>
      <div class="shift-row">
        <div class="<%= shift.classes %>">

          <div>
            <% if presenter.manage? %>
              <%= link_to(shift.details_url, class: "label", remote: true) do %>
                <div class="time"><%= shift.time_range %></div>
                <div class="position"><%= shift.position %></div>
              <% end %>
            <% else %>
              <section class="label">
                <div class="time"><%= shift.time_range %></div>
                <div class="position"><%= shift.position %></div>
              </section>
            <% end %>

            <% if presenter.manage? %>
              <%= render partial: "calendars/shared/shift_actions",
                locals: { shift: shift } %>
            <% end %>


            <% if shift.repeating? %>
              <div class="repeating-shift-icon">
                <div>
                  <span class="oi oi-loop-circular"></span>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  <% else %>
    <div class="shift-row"></div>
  <% end %>

<% end %>
