<div class="calendars-weekly-schedule">
  <header>
    <div>Employee Name</div>

    <% presenter.date_range.each do |date| %>
      <div class="<%= "today" if presenter.today?(date) %>">
        <%= presenter.date_label(date) %>
        <%# I18n.t("date.abbr_day_names")[date.wday] %>
      </div>
    <% end %>
  </header>

  <section>
    <%# Unassigned Shifts %>
    <div>
      <div class="employee">Unassigned Shifts
        <span class="tooltip-hint"
              title="Unassigned shifts need an employee and position before they can be published."
              data-toggle="tooltip"></span>
      </div>

      <% presenter.date_range.each do |date| %>
        <div class="<%= presenter.container_classes(date) %>">
          <%# TODO: Remove View Conditional %>
          <% if presenter.unassigned_shifts(date).present? %>
            <% presenter.unassigned_shifts(date).each do |shift| %>
              <%= render(
                partial: "calendars/shift_week_view",
                locals: {
                  shift: shift,
                  presenter: presenter
                }
              ) %>
            <% end %>
          <% elsif presenter.schedulable?(date) %>
            <%= link_to(
              "Add Shift",
              new_remote_location_in_progress_shift_path(
                presenter.location,
                date: date.to_s(:integer)
              ),
              class: "add-shift",
              remote: true
            ) %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# Employee Rows %>
    <% presenter.employees.each do |employee| %>
      <div>
        <div class="employee"><%= employee.full_name %></div>

        <% presenter.date_range.each do |date| %>
          <div class="<%= presenter.container_classes(date) %>">
            <%# TODO: Remove View Conditional %>
            <% if presenter.shifts_for(employee, date).present? %>
              <% presenter.shifts_for(employee, date).each do |shift| %>
                <%= render(
                  partial: "calendars/shift_week_view",
                  locals: {
                    shift: shift,
                    presenter: presenter
                  }
                ) %>
              <% end %>
            <% elsif presenter.schedulable?(date) %>
              <%= link_to(
                "Add Shift",
                new_remote_location_in_progress_shift_path(
                  presenter.location,
                  date: date.to_s(:integer),
                  user_id: employee.id
                ),
                class: "add-shift",
                remote: true
              ) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%# Expand end to bottom %>
    <div class="calendar-filler">
      <div class="employee"></div>
      <% presenter.date_range.each do |date| %>
        <div class="<%= presenter.container_classes(date) %>">
        </div>
      <% end %>
    </div>
  </section>

  <% if features.wages? && presenter.manage? %>
    <%= render partial: "calendars/wage_footer",
      locals: {
        date_range: presenter.date_range,
        wages: presenter.wages
      } %>
  <% end %>
</div>
