<div class="calendars-week-schedule">
  <header>
    <div>
      <section class="icon-toggle">
        <%= presenter.daily_schedule_tab %>
        <a class="selected" href="#"><span class="oi oi-grid-three-up"></span></a>
        <%= presenter.print_tab %>
      </section>
    </div>

    <%= presenter.day_headers %>
  </header>

  <div class="table-container">
    <table>
      <tbody>
        <% presenter.users.each do |user| %>
          <tr>
            <td><%= "#{user.given_name} #{user.family_name}" %></td>

            <% presenter.days.each do |day| %>
              <td>
                <% if presenter.shifts_for(user, day).present? %>
                  <% presenter.shifts_for(user, day).each do |shift| %>
                    <% if presenter.preview %>

                      <%= link_to(
                        edit_locations_location_in_progress_shift_path(
                          presenter.location,
                          shift,
                          date: presenter.day.to_s(:integer),
                          scheduling_period_id: presenter.scheduling_period.id
                        ),
                        class: "shift") do %>
                          <%= shift.time_range %>
                        <% end %>

                    <% else %>
                      <div class="shift">
                        <%= shift.time_range %>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if presenter.preview %>
                    <%= link_to(
                      "Add",
                      new_locations_location_in_progress_shift_path(
                        presenter.location,
                        scheduling_period_id: presenter.scheduling_period.id,
                        date: presenter.day.to_s(:integer)
                      ),
                      class: "add-shift"
                    ) %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <% if presenter.preview %>
    <div class="week-links">
      <% presenter.week_ranges.map do |week| %>
        <%= link_to(
          "#{week.first.to_s(:short)} - #{week.last.to_s(:short)}",
          remote_location_scheduling_period_path(
            presenter.location,
            presenter.scheduling_period,
            date: week.first.to_s(:integer)
          ),
          class: (week.first == presenter.day ? "selected" : ""),
          format: :js,
          remote: true
        ) %>
      <% end %>
    </div>
  <% end %>
</div>
