<div class="rail">
  <section>
    <article>
      <div class="frame">
        <header>
          <!-- <div><%= Date::MONTHNAMES[Date.today.month] %></div> -->
          <div><%= render partial: "month_headers" %></div>
        </header>

        <section>
          <%= render partial: "calendar" %>
        </section>
      </div>
    </article>

    <aside>
      <%= render partial: "location_select",
        locals: { presenter: @presenter } %>

      <div class="frame">
        <header>
          <div><%= t(".next_shift_title") %></div>
        </header>

        <section>
          <%= render partial: @presenter.next_shift_partial,
            locals: { presenter: @presenter } %>
        </section>
      </div>
    </aside>
  </section>
</div>

<div class="row">
  <section>
    <article>
      <div class="frame">
        <header>
          <div>Daily Schedule</div>
        </header>

        <section id="daily-schedule">
          <%= render partial: "day_schedule", locals: {
            presenter: @presenter
          } %>
        </section>
      </div>
    </article>
  </section>
</div>
