<div class="calendars-show">
  <header>
    <div>
      <% if @presenter.display_mode_select? %>
        <%= render partial: "calendars/mode_select",
          locals: {
            location: @presenter.location,
            date: @presenter.date_integer,
            mode: @presenter.mode
          } %>
      <% end %>
    </div>

    <div>
      <%= link_to @presenter.previous_day_url, class: "button link" do %>
        <span class="oi oi-caret-left"></span>
      <% end %>

      <%= @presenter.title %>

      <%= link_to @presenter.next_day_url, class: "button link" do %>
        <span class="oi oi-caret-right"></span>
      <% end %>
    </div>

    <div>
      <div class="new-icon-toggle">
        <%= link_to(
          location_calendar_path(
            @presenter.location,
            date: @presenter.date_integer,
            view: "daily"
          ),
          @presenter.toggle_link_options(:daily, "View by Day")) do %>
          <span class="oi oi-project"></span>
        <% end %>

        <%= link_to(
          location_calendar_path(
            @presenter.location,
            date: @presenter.date_integer,
            view: "weekly"
          ),
          @presenter.toggle_link_options(:weekly, "View by Week")) do %>
          <span class="oi oi-grid-three-up"></span>
        <% end %>

        <%= link_to(
          location_print_path(
            @presenter.location,
            date: @presenter.date_integer,
            view: "weekly"
          ),
          title: "Print",
          data: { toggle: "tooltip" },
          target: "_blank") do %>
          <span class="oi oi-print"></span>
        <% end %>

      </div>
    </div>
  </header>

  <div class="calendar-container" id="calendar-container">
    <%# DailySchedulePresenter or WeeklySchedulePresenter %>
    <%= render partial: "show",
           locals: { presenter: @presenter.partial_presenter } %>
  </div>
</div>


<%= render partial: "locations/join_url_modal",
           locals: { location: @presenter.location } %>

<% content_for(:view_content_classes, "full-width") %>

<% content_for(:view_sidebar) do %>
  <%= render(partial: "dashboards/calendar_sidebar",
    locals: {
      current_date: @presenter.current_date,
      location: @presenter.location,
      selected_date: @presenter.selected_date
    }
  ) %>

  <%# Calender::ShowPresenter %>
  <%= render partial: "sidebar_content", locals: { presenter: @presenter } %>
<% end %>
