<nav class="navbar">
  <%= link_to "", root_path, class: "navbar-brand" %>
  <span>
    <%= link_to "Scheduleless", root_path %>
  </span>

  <ul>
    <!--
    <li>
      <%= link_to "How It Works", how_it_works_path %>
    </li>
    -->

    <li>
      <%= link_to "Pricing & Features", pricing_path %>
    </li>

    <li>
      <%= link_to "Sign Up", new_onboarding_registration_path %>
    </li>

    <li>
      <%= link_to "Sign In", new_user_session_path %>
    </li>
  </ul>

  <button type="button" data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" class="mobile-menu-toggle">
    <span class="oi oi-menu"></span>
  </button>
</nav>

<div class="collapse navbar-collapse" id="mobile-menu">
    <%= link_to "How It Works", how_it_works_path %>
    <%= link_to "Getting Started", getting_started_path %>
    <%= link_to "Pricing", pricing_path %>
    <%= link_to "Sign Up", new_onboarding_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
</div>
