<div class="blog-admin-blog-posts-form">
  <%= simple_form_for [:blog, :admin, post] do |f| %>
    <%= f.input :title %>
    <%= f.input :slug %>
    <%= f.input :preview_description %>

    <%= f.trix_editor :body %>

    <%= f.input :category,
      as: :select,
      collection: Blog::Post.collection_labels,
      include_blank: false %>

    <%= f.input :published, as: :boolean %>

    <%= f.submit %>
  <% end %>
</div>
