<div class="blog-admin-blog-posts-form">
  <%= simple_form_for [:blog, :admin, post] do |f| %>
    <%= f.input :title %>
    <%= f.input :slug %>
    <%= f.input :preview_description %>

    <% if post.index_image.present? %>
      <%= image_tag(post.index_image_url, width: 200) %>
    <% end %>

    <%= f.input :index_image, as: :file %>
    <small>Size 704x456</small>
    <br />

    <%= f.trix_editor :body %>

    <%= f.input :category,
      as: :select,
      collection: Blog::Post.collection_labels,
      include_blank: false %>

    <%= f.input :published, as: :boolean %>

    <%= f.submit %>
  <% end %>
</div>
