<div class="marketing-welcome-employee-concierge">
  <div>
    <div>
      <header>
        <h3><%= t(".heading") %></h3>
        <p><%= t(".subtitle") %></p>
      </header>

      <section>
        <div class="trade">
          <div></div>
          <h4><%= t(".trade.title") %></h4>

          <article>
            <%= t(".trade.article") %>
          </article>
        </div>

        <div class="time-off">
          <div></div>
          <h4><%= t(".time_off.title") %></h4>
          <article>
            <%= t(".time_off.article") %>
          </article>
        </div>

        <div class="apps">
          <div></div>
          <h4><%= t(".apps.title") %></h4>
          <article>
            <%= t(".apps.article") %>
          </article>
        </div>
      </section>
    </div>
  </div>
</div>
