<div class="marketing-welcome-footer">
  <div>
    <div>
      <div class="email-capture">
        <section>
          <%= simple_form_for EmailCapture.new do |f| %>
            <%= f.input :email, label: false, placeholder: "Email Address" %>
            <%= f.submit class: "button orange" %>
          <% end %>
          <small>30 days free, no credit card required</small>
        </section>
      </div>

      <article>
        <%= image_tag "shared/logos/scheduleless.png" %>
      </article>

      <ul>
        <li>
          <%= link_to t(".knowledge_base"),
            "https://scheduleless.reamaze.com" %>
        </li>

        <li>
          <%= link_to t(".try"), new_onboarding_registration_path %>
        </li>

        <li>
          <%= link_to t(".sign_in"), new_user_session_path %>
        </li>

        <li>
          <a href="mailto:support@scheduleless.com">support@scheduleless.com</a>
        </li>
      </ul>

      <section>
        <%= t(".made_in_html") %>
      </section>
    </div>
  </div>
</div>
