<div class="marketing-welcome-footer">
  <div>
    <div>
      <div class="email-capture">
        <section>
          <%= simple_form_for EmailCapture.new do |f| %>
            <%= f.input :email, label: false, placeholder: t(".email_address") %>
            <%= f.submit class: "button orange" %>
          <% end %>
          <small><%= t(".30_days_free")%></small>
        </section>
      </div>

      <article>
        <%= image_tag "shared/logos/scheduleless.png" %>
      </article>

      <ul>
        <li>
          <%= link_to t(".try"), new_onboarding_registration_path %>
        </li>

        <li>
          <%= link_to t(".sign_in"), new_login_user_session_path %>
        </li>

        <li>
          <a href="mailto:support@scheduleless.com">support@coworkability.io</a>
        </li>
      </ul>

      <section>
        <%= t(".made_in_html") %>
      </section>

      <br /><br />
    </div>
  </div>
</div>
