<div class="marketing-welcome-footer">
  <div>
    <div>
      <article>
        <%= image_tag "shared/logos/scheduleless.png" %>
      </article>

      <ul>
        <li>
          <%= link_to t(".knowledge_base"),
            "https://support.scheduleless.com/" %>
        </li>

        <li>
          <%= link_to t(".try"), new_onboarding_registration_path %>
        </li>

        <li>
          <%= link_to t(".sign_in"), new_user_session_path %>
        </li>

        <li>
          <a href="mailto:support@scheduleless.com">support@scheduleless.com</a>
        </li>
      </ul>

      <section>
        <%= t(".made_in_html") %>
      </section>
    </div>
  </div>
</div>
