<section class="hero">
  <article class="content-section">
    <div>
      <section>
        <%= render partial: "layouts/marketing/navbar" %>

        <article>
          <h2><%= t(".title") %></h2>
          <%= t(".subtitle") %>
          <br><br>
          <button class="orange"><%= t(".call_to_action") %></button>
          <br>
          <small><%= t(".no_cc_required") %></small>
        </article>
      </section>
    </div>
  </article>

  <div class="scroll-down">
    <span class="oi oi-chevron-bottom"></span>
  </div>
</section>
