<section class="hero">
  <div class="gradient"></div>
  <div class="gradient-2"></div>
  <article class="content-section">
    <div>
      <section>
        <%= render partial: "layouts/marketing/navbar" %>

        <article>
          <h2><%= t(".title") %></h2>
          <span><%= t(".subtitle_html") %></span>
          <br><br>

          <div>
            <div class="signup-input">
              <% if 1 == 2 %>
                <%= simple_form_for EmailCapture.new do |f| %>
                  <%= f.input :email, label: false, placeholder: t(".email_address") %>
                  <%= f.submit class: "button" %>
                <% end %>
              <% end %>
              <%= link_to "Get Started For Free!",
                new_onboarding_registration_path,
                class: "button"
              %>
            </div>
          </div>
          <small><%= t(".no_cc_required") %></small>
        </article>
      </section>
    </div>
  </article>

  <div class="scroll-down">
    <div>
      <small><%= t(".learn_more_html") %></small>
    </div>
    <span class="oi oi-chevron-bottom"></span>
  </div>
</section>
