<div class="welcome-industries">
  <div>
    <h4><%= t(".title") %></h4>
  </div>
  <section>
    <div>
      <div>
        <span class="oi oi-cart"></span>
          <%= t(".retail") %>
      </div>
      <div>
        <span class="oi oi-map-marker"></span>
          <%= t(".bars_cafes_restaurants") %>
      </div>
      <div>
        <span class="oi oi-flag"></span>
          <%= t(".entertainment") %>
      </div>
      <div>
        <span class="oi oi-briefcase"></span>
          <%= t(".professional_services") %>
      </div>
    </div>

    <div>
      <div>
        <span class="oi oi-home"></span>
        Small Businesses
      </div>
      <div>
        <span class="oi oi-wrench"></span>
         Manufacturing
      </div>
      <div>
        <span class="oi oi-heart"></span>
        Healthcare
      </div>
      <div>
        <span class="oi oi-headphones"></span>
        Call Centers / Support
      </div>
    </div>

  </section>
</div>
