<div class="marketing-welcome-mobile-apps section">
  <div>
    <article>
      <div>
        <h2><%= t(".title") %></h2>
        <%= t(".subtitle") %>

        <ul>
          <li><%= t(".bullet_1") %></li>
          <li><%= t(".bullet_2") %></li>
          <li><%= t(".bullet_3") %></li>
          <li><%= t(".bullet_4") %></li>
        </ul>
      </div>
    </article>

    <aside>
      <a href="#" class="app-store"></a>
      <a href="#" class="play-store"></a>
    </aside>
  </div>
</div>
