<section class="marketing-welcome-pricing-tile">
  <div>
    <div>
      <div>
        <header>
          <h3><%= t(".title") %></h3>
          <p><%= t(".subtitle") %></p>
        </header>


        <div class="price">
          <section>
            <div>
              <sup>$</sup><span>3</span>
            </div>
            <div class="per-employee"><%= t(".unit") %></div>

            <%= link_to t(".call_to_action"),
              new_onboarding_registration_path,
              class: "button orange"
            %>
            <p><small><%= t(".30_days_free") %></small></p>

            <ul>
              <li>
                <span class="oi oi-circle-check"></span>
                <strong><%= t(".bullet_1") %></strong>
              </li>
              <li>
                <span class="oi oi-circle-check"></span>
                <%= t(".bullet_2") %>
              </li>
              <li>
                <span class="oi oi-circle-check"></span>
                <%= t(".bullet_3") %>
              </li>
              <li>
                <span class="oi oi-circle-check"></span>
                <%= t(".bullet_4") %>
              </li>
              <li>
                <span class="oi oi-circle-check"></span>
                <%= t(".bullet_5") %>
              </li>
              <li>
                <span class="oi oi-circle-check"></span>
                <%= t(".bullet_6") %>
              </li>
              <li>
                <span class="oi oi-circle-check"></span>
                <%= t(".bullet_7") %>
              </li>
              <li>
                <span class="oi oi-circle-check"></span>
                <%= t(".bullet_8") %>
              </li>
            </ul>

          </section>
        </div>

      </div>
    </div>
  </div>
</section>
