<section class="marketing-welcome-pricing">
  <div>
    <div>
      <div>
        <header class=".header">
          <h3><%= t(".title") %></h3>
          <p><%= t(".subtitle") %></p>
        </header>

        <div class="price-tiers">
          <%= render partial: "pricing_tier", locals: { tier: "entry" } %>

          <%= render partial: "pricing_tier", locals: { tier: "standard",
                                                        recommended: true } %>

          <%= render partial: "pricing_tier", locals: { tier: "advanced" } %>
        </div>
      </div>
    </div>
  </div>
</section>
