<div class="marketing-welcome-scheduling-assistant">
  <div>
    <div>
      <header>
        <h3><%= t(".heading") %></h3>
      </header>

      <section>
        <div class="setup">
          <div></div>
          <h4><%= t(".setup.title") %></h4>

          <article>
            <%= t(".setup.article") %>
          </article>
        </div>

        <div class="inbox">
          <div></div>
          <h4><%= t(".inbox.title") %></h4>
          <article>
            <%= t(".inbox.article") %>
          </article>
        </div>

        <div class="integrated">
          <div></div>
          <h4><%= t(".integrated.title") %></h4>
          <article>
            <%= t(".integrated.article") %>
          </article>
        </div>
      </section>
    </div>

    <div style="margin-top: 50px;">
      <%= link_to "See All Features", pricing_path, class: "button white" %>
    </div>
  </div>
</div>
