<div class="how-it-works marketing-welcome-how-it-works">
  <header class="header">
    <%= render partial: "layouts/marketing/navbar" %>
  </header>

  <section class="hero-section">
    <div>
      <h3><%= t(".hero.title") %></h3>
      <small><%= t(".hero.article") %></small>
    </div>
  </section>

  <section class="section let-us-handle-it">
    <div>
      <article>
        <h4><%= t(".let_us_handle_it.title") %></h4>
          <%= t(".let_us_handle_it.article") %>
      </article>

      <aside>
      </aside>
    </div>
  </section>


  <section class="notifications section">
    <div>
      <aside>
      </aside>

      <article>
        <h4><%= t(".notifications.title") %></h4>
          <%= t(".notifications.article") %>
      </article>
  </section>

  <section class="section review">
    <div>
      <article>
        <h4><%= t(".review.title") %></h4>
          <%= t(".review.article") %>
      </article>

      <aside>
      </aside>
    </div>
  </section>

  <section class="more-info">
    <div>
      <div>
        <h4><%= t(".more_info.title") %><h4>
      </div>
      <div>
        <br />
        <%= link_to t(".more_info.link_one"),
          new_onboarding_registration_path,
          class: "button orange" %>
        <p><small><%= t(".more_info.no_cc_required") %></small></p>
      </div>
      <div>
        <%= link_to t(".more_info.link_two"),
          root_path,
          class: "button link" %>
      </div>
    </div>
  </section>

  <%= render partial: "footer" %>
</div>
