<div class="marketing-welcome-pricing-view marketing-welcome-pricing">
  <header class="header">
    <%= render partial: "layouts/marketing/navbar" %>
  </header>

  <section class="hero-section">
    <div>
      <h3><%= t(".hero.title") %></h3>
      <small><%= t(".hero.article") %></small>
    </div>
  </section>

  <%= render partial: "pricing" %>
  <%= render partial: "footer" %>
</div>
