<div class="welcome-pricing">
  <section class="hero">
    <div class="gradient"></div>
    <div class="gradient-2"></div>

    <article class="content-section">
      <div>
        <section>
          <%= render partial: "layouts/marketing/navbar" %>

          <%= render partial: "marketing/welcome/pricing/plan_tiles" %>
        </section>
      </div>
    </article>
  </section>

  <%= render partial: "marketing/welcome/pricing/included_features" %>
  <%= render partial: "marketing/welcome/pricing/testimonials" %>

  <div class="section-3">
    <h3>All The Best Features</h3>
  </div>

  <%= render partial: "marketing/welcome/shared/divider_bar" %>
  <%= render partial: "marketing/welcome/shared/footer" %>
</div>

<% if 1 == 2 %>
  <div class="marketing-welcome-pricing-view">
    <header class="header">
      <%= render partial: "layouts/marketing/navbar" %>
    </header>
    <%= render partial: "pricing" %>
    <%= render partial: "footer" %>
  </div>
<% end %>
