<section style="max-width: 450px; margin: auto;">
  <div class="instructions center">
    <h2><%= t(".title") %></h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

    <% if alert.present? %>
      <div class="alert"><%= alert %></div>
    <% end %>

    <div class="center">
      <%= f.button :submit, t(".submit"), class: "button" %>
      <%= link_to t(".sign_up"), new_onboarding_registration_path, class: "button white" %>

      <div style="margin-top: 5px">
        <%= link_to t(".forgot"), new_password_path(resource_name) %>
      </div>
    </div>
  <% end %>
</section>
