<section style="max-width: 400px; margin: auto; padding-bottom: 60px;">
  <div class="instructions center">
    <h3><%= t 'devise.invitations.edit.header' %></h3>
  </div>

  <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
    <%= f.hidden_field :invitation_token %>

    <%= f.input :given_name %>
    <%= f.input :family_name %>
    <%= f.input :mobile_phone %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.button :submit, t("devise.invitations.edit.submit_button") %>
  <% end %>
</section>
