<div class="unsubscribes-show">
  <h1><%= t(".heading") %></h1>
  <small><%= t(".subheading") %></small>

  <div>
    <%= image_tag "blank/unsubscribes/email_face.png" %>
  </div>

  <article><h3><%= t(".success") %></h3></article>
  <br /><br />

  <section>
    <div>
      <%= t(".left_section") %>
    </div>
    <div>
      <%= t(".right_section") %>
    </div>
  </section>

  <small><%= t(".footer") %></small>
</div>
