<div class="frame offers-offer">
  <section>
    <article>

      <div class="offerer">
        <div>
          <label>Offered By:</label> <%= link_to "#{offer.user.given_name} #{offer.user.family_name}", business_user_path(offer.user) %>
        </div>

        <div>
          <label>Memo:</label> <%= offer.note %>
        </div>
      </div>


      <div class="shift-display">
        <div class="date">
          <div><%= DateAndTime::Parser.new(date: offer.offered_shift.date).month %></div>
          <div><%= DateAndTime::Parser.new(date: offer.offered_shift.date).day %></div>
        </div>

        <div class="time">
          <%= "#{MinutesToTime.for(offer.offered_shift.minute_start)} - #{MinutesToTime.for(offer.offered_shift.minute_end)}" %>
        </div>

        <div class="buttons">
          <%= button_to "Accept", [offer, :offer_accept], method: :post %>
          <%= button_to "Decline", [offer, :offer_decline], method: :post %>
        </div>

        <div class="location">
          <% if offer.offered_shift.location.name.present? %>
            <strong><%= offer.offered_shift.location.name  %></strong><br>
          <% end %>

          <%= AddressFormatter.for(offer.offered_shift.location).multiline_html %>
        </div>
      </div>
    </article>


  </section>
</div>


<% if 1==2 %>
<div>
  Offer: <%= offer.note %><br>
</div>
<br><br>
<% end %>
