<div class="frame">
  <header>
    <div><%= t(".trade_for_title") %></div>
  </header>

  <section>
    <article>
      <%= render partial: "trades/shift", locals: { show_actions: false, trade: @offer.trade } %>
    </article>
  </section>
</div>


<div class="frame">
  <header>
    <div><%= t(".offer_title") %></div>
  </header>

  <section>
    <div class="rail">
      <section>
        <article>
          <%= render partial: "form", locals: { offer: @offer } %>
        </article>
        <aside>
          <div class="instructions">
            <%= t(".instructions") %>
          </div>
        </aside>
      </section>
    </div>
  </section>
</div>
