<div class="frame fill">
  <header class="light">
    <div><%= t(".available_shifts") %></div>
  </header>

  <section>
    <% if [].blank? %>
      <div class="empty-message">
        <h3><%= t(".no_shifts") %></h3>
        <%= t(".looking") %><br />
        <%= link_to t(".adjust_availability"), edit_user_path %>
      </div>
    <% else %>
      <%= t(".there_are_shifts") %>
    <% end %>
  </section>
</div>
