<% content_for(:view_content_classes, "full-width") %>
<div class="dashboard-show">
  <section>
    <div>
      <%= render(
        partial: "whose_working",
        locals: {
          presenter: Dashboard::WhoseWorkingPresenter.
            new(current_user.locations, UserPermissions.for(current_user).manager?)
        }
      ) %>
    </div>
    <div>
      <%= render partial: "upcoming_shifts",
        locals: {
          presenter: Dashboard::UpcomingShiftsPresenter.new(current_user)
        } %>
    </div>
  </section>

  <section>
    <div>
      <%= render partial: "available_shifts", locals: {
        presenter: Dashboard::AvailableShiftsPresenter.new(current_user)
      } %>
    </div>
    <div></div>
  </section>
</div>

<% content_for(:view_sidebar) do %>
  <%= render partial: "calendar_sidebar", locals: {
    display_date: Date.today,
    location: Location.default_for(current_user)
  } %>

  <% if Features.for(current_company).time_clock? %>
    <div id="dashboards-upcoming-shift">
      <%= render partial: "upcoming_shift", locals: {
        presenter: Dashboard::UpcomingShiftPresenter.new(current_user)
      } %>
    </div>
  <% end %>
<% end %>
