<div class="dashboard-show">
  <div class="two-columns">
    <section>
      <article>
        <%= render(
          partial: "whose_working",
          locals: {
            presenter: Dashboard::WhoseWorkingPresenter.
              new(current_user.locations)
          }
        ) %>
      </article>
      <article>
        <%= render partial: "upcoming_shifts",
          locals: {
            presenter: Dashboard::UpcomingShiftsPresenter.new(current_user)
          } %>
      </article>
    </section>
  </div>

  <div class="two-columns">
    <section>
      <article>
        <%= render partial: "available_shifts" %>
      </article>

      <article>
        <%= render partial: "approvals" %>
      </article>
    </section>
  </div>
</div>

<% content_for(:view_sidebar) do %>
  <%= render partial: "calendar_sidebar" %>
.
  <% if Features.for(current_company).time_clock? %>
    <div id="dashboards-upcoming-shift">
      <%= render partial: "upcoming_shift", locals: {
        presenter: Dashboard::UpcomingShiftPresenter.new(current_user)
      } %>
    </div>
  <% end %>
<% end %>
