<div class="dashboard-show two-columns">
  <section>
    <article>
      <%= render partial: "whose_working" %>
    </article>
    <article>
      <%= render partial: "available_shifts" %>
    </article>
  </section>
</div>

<%= render partial: "approvals" %>

<% content_for(:view_sidebar) do %>
  <%= render partial: "calendar_sidebar" %>
  <%= render partial: "upcoming_shift" %>
<% end %>
