<div style="padding: 20px">
  <%= t(".greeting", name: @user.given_name) %>
  <br /> <br />

  <%= t(".thanks") %>

  <table style="margin-top: 25px;">
    <tr>
      <td style="padding-right: 20px; padding-top: 10px">
        <%= image_tag "welcome_drip_mailer/life_raft.jpg",
          height: 60,
          width: 60,
          alt: t(".help_image_alt") %>
      </td>
      <td>
        <div style="margin-bottom: 5px;">
          <strong><%= t(".getting_started") %></strong>
        </div>

        <%= t(".questions_html") %>
      </td>
    </tr>
  </table>

  <div style="margin-top: 30px;">
    <%= t(".working_with_you") %><br />

    <br />
    <div style="margin-bottom: 5px"><%= t(".signature_line_1") %></div>
    <%= t(".signature_line_2") %><br />
    <%= t(".signature_line_3") %><br />
  </div>

  <br /><br />
  <div style="text-align: center; font-size: 11px;">
    <small><%= t(".not_you") %></small>
  </div>
</div>
