<%= simple_form_for [:onboarding, registration],
  html: { class: "vertical_form" } do |f|
%>
  <%= f.input :company_name, label: t(".company_name") %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div>
    <%= f.submit t(".submit"), class: "button orange" %>
    <%= link_to t(".sign_in"), new_session_path(:user), class: "button white" %>
  </div>
<% end %>
