<div class="onboarding-registrations-form">
  <%= simple_form_for [:onboarding, registration],
    html: { class: "vertical_form" } do |f|
  %>
    <div class="name">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
    </div>

    <%= f.input :email %>
    <%= f.input :password %>

    <div>
      <%= f.submit t(".submit"), class: "button orange" %>
      <%= link_to t(".sign_in"), new_session_path(:user), class: "button white" %>
    </div>
  <% end %>
</div>
