<div class="onboarding-registrations-form">
  <%= simple_form_for [:onboarding, registration],
    html: { class: "vertical_form" } do |f|
  %>
    <%= f.input :plan_id, as: :hidden %>

    <div class="name">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
    </div>

    <%= f.input :company_name %>

    <%= f.input :email %>
    <%= f.input :password %>

    <footer>
      <%= link_to "Back", pricing_path, class: "button white" %>
      <%= f.submit t(".submit"), class: "button" %>
    </footer>
  <% end %>
</div>
