<div class="onboarding-registrations-create">
  <article>
    <header>
      <%= t(".wizard.title") %>"
    </header>

    <span class="oi oi-project"></span>

    <small>
      <%= t(".wizard.description") %>
    </small>

    <section>
      <%= link_to(
        t(".wizard.button"),
        new_onboarding_position_path,
        class: "button"
      ) %>
    </section>
  </article>


  <article>
    <header>
      <%= t(".dashboard.title") %>
    </header>

    <span class="oi oi-grid-three-up"></span>

    <small>
      <%= t(".dashboard.description") %>
    </small>

    <section>
      <%= link_to(
        t(".dashboard.button"),
        default_calendar_path_for(current_user),
        class: "button"
      ) %>
    </section>
  </article>
</div>

<% content_for(:tracking) do %>
  <script type="text/javascript">
    $(function(){
      mixpanel.alias("<%= current_user.id %>");
      mixpanel.identify("<%= current_user.id %>");

      mixpanel.people.set({
        "$email": "<%= current_user.email %>",
        "$last_login": new Date(),
        "Company Id": "<%= current_company.id %>",
        "User Id": "<%= current_user.id %>"
      })
    });
  </script>


  <% if Rails.env.production? %>
    <%# TODO: Use a config var here %>
    <!-- Google Code for Created Trial Account Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 849058464;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "UICsCKPp43IQoLXulAM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/849058464/?label=UICsCKPp43IQoLXulAM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <script id="fullstory" type="text/javascript">
      FS.identify("<%= current_user.id %>", {
        displayName: "<%= current_user.full_name %>",
        email: "<%= current_user.email %>",
      });
    </script>
  <% end %>
<% end %>
