<% content_for(:sidebar) do %>
  <%= render(
    partial: "onboarding/shared/wizard_steps",
    locals: { current_step: 0 }
  ) %>
<% end %>

<section>
  <div class="instructions">
    <h2><%= t(".title") %></h2>
    <%= t(".description") %>

    <small><%= t(".subtitle") %></small>
  </div>

  <%= render partial: "form", locals: { registration: @registration } %>
</section>
