<div class="frame">
  <header>
    <div>
      <%= t(".title") %>
    </div>
  </header>

  <section>
    <article>
      <%= t(".description") %>
      <div>
        <table>
          <tbody>
            <% @locations.each do |location| %>
                <tr>
                  <td><%= location.name %></td>
                  <td><%= location.line_1 %></td>
                  <td><%= location.city %></td>
                  <td><%= location.county_province %></td>
                  <td>
                    <%= button_to "Create Schedule",
                      scheduler_location_schedule_preview_path(location),
                      method: :post %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </article>
  </section>
</div>
