<% content_for(:sidebar) do %>
  <%= render partial: "onboarding/shared/wizard_steps",
    locals: { current_step: 4 } %>
<% end %>


<section>
  <div class="instructions">
    <h3><%= t(".title") %></h3>
  </div>

  <%= simple_form_for [:onboarding, @schedule_setting],
    method: :put,
    url: onboarding_schedule_settings_path do |f|
  %>

    <%= f.input :start_day,
      as: :select,
      collection: ScheduleSetting.day_options,
      include_blank: false
    %>

    <%= f.input :payment_method,
      as: :select,
      collection: ScheduleSetting.pay_method_options,
      include_blank: false
    %>

    <footer>
        <%= link_to t(".back"),
          onboarding_location_users_path(current_user.locations.first),
          class: "button white" %>
        <%= f.submit t(".finish"), class: "button" %>
    </footer>
  <% end %>
</section>
