<% if users.present? %>
  <table>
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".email") %></th>
        <th><%= t(".position") %></th>
      </tr>
    </thead>

    <% users.each do |user| %>
      <tr>
        <td><%= "#{user.given_name} #{user.family_name}" %></td>
        <td><%= user.email %></td>
        <td><%= EmployeePosition.primary_for(user).name %></td>
        <td>
          <% if policy(user).edit? %>
            <%= link_to t(".edit"),
              edit_business_user_path(user),
              class: "button link" %>
          <% end %>

          <% if policy(:employee_position).destroy? %>
            <%= button_to t(".remove"),
              locations_location_user_path(@location, user),
              class: "button link",
              method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= t(".blank") %>
<% end %>
