<% if presenter.users.present? %>
  <table>
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".email") %></th>
        <th><%= t(".position") %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <% presenter.users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= presenter.position_name_for(user) %></td>

        <td class="centered">
          <%= render partial: "users/#{presenter.invitation_state_for(user)}_badge" %>
        </td>

        <td>
          <% if policy(user).edit? %>
            <%= link_to(edit_locations_location_user_path(@location, user),
                        title: "Edit",
                        data: { toggle: "tooltip" }) do %>
              <span class="oi oi-pencil">
            <% end %>
          <% end %>
          <% if policy(:employee_position).destroy? %>
            <%= button_to(locations_location_user_path(@location, user),
                          method: :delete,
                          title: "Remove From Location",
                          class: "button link",
                          data: { toggle: "tooltip" }) do %>
              <span class="oi oi-minus">
            <% end%>
          <% end %>
        </td>

      </tr>
    <% end %>
  </table>
<% else %>
  <%= t(".blank") %>
<% end %>
