<% content_for(:sidebar) do %>
  <%= render partial: "onboarding/shared/wizard_steps",
    locals: { current_step: 3 } %>
<% end %>

<section>
  <div class="instructions">
    <h3><%= t(".title") %></h3>
    <%= t(".description") %>
  </div>


  <% if @users.present? %>
    <table class="table">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %><td>
          <td><%= user.email %><td>
          <td><%= user.mobile_phone %><td>

          <td>
            <%= button_to onboarding_location_user_path(@location, user),
              method: :delete, title: "Delete Employee" do %>
              <span class="oi oi-minus"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <br><br>
    <div class="center">
      <%= t(".no_users") %>
    </div>
  <% end %>

  <br><br>
  <div class="center light">
    <div>
      <%= link_to t(".add"),
        new_onboarding_location_user_path(@location),
        class: "button" %>
    </div>
  </div>


  <footer>
      <%= link_to t(".back"), new_onboarding_position_path, class: "button white" %>

      <%= link_to t(".continue"),
        edit_onboarding_schedule_settings_path,
        class: "button" %>
  </footer>
</section>
