<div class="instructions">
  <h3><%= t(".title") %></h3>
  <%= t(".description") %>
</div>

<%= simple_form_for [:onboarding, @location, @user] do |f| %>
  <%= f.input :given_name %>
  <%= f.input :family_name %>
  <%= f.input :preferred_name %>

  <%= f.input :email %>
  <%= f.input :mobile_phone %>

  <%= f.submit %>
<% end %>

<footer>
  <div>
    <%= link_to t(".back"), new_onboarding_location_path, class: "button white" %>
  </div>

  <div>
    <%= link_to t(".start"), edit_onboarding_schedule_settings_path, class: "button orange" %>
  </div>
</footer>

