<% content_for(:sidebar) do %>
  <%= render partial: "onboarding/shared/wizard_steps",
    locals: { current_step: 3 } %>
<% end %>

<section>
  <% if notice.present? %>
    <div class="notice"><%= notice %></div>
  <% end %>

  <div class="instructions">
    <h3><%= t(".title") %></h3>
    <%= t(".description") %>
  </div>

  <%= simple_form_for [:onboarding, @location, @employee_creator] do |f| %>
    <div class="inline">
      <%= f.input :given_name %>
      <%= f.input :family_name %>
    </div>

    <div class="inline">
      <%= f.input :email %>
      <%= f.input :mobile_phone %>
    </div>

    <%= f.input :primary_position_id,
      collection: current_company.positions %>

    <div class="inline">
      <%= f.input :position_ids,
        collection: current_company.positions,
        as: :check_boxes %>
    </div>

    <br />
    <div class="center">
      <%= f.submit %>
    </div>
  <% end %>

  <footer>
      <%= link_to t(".back"), onboarding_location_users_path(@location), class: "button white" %>
      <% if current_company.locations&.first&.users&.length > 1 %>
        <%= link_to t(".continue"),
          edit_onboarding_schedule_settings_path,
          class: "button" %>
      <% else %>
        <button class="button" disabled="disabled">
          <%= t(".continue") %>
        </button>
      <% end %>
  </footer>
</section>

