<% if notice.present? %>
  <div class="notice"><%= notice %></div>
<% end %>

<div class="instructions">
  <h3><%= t(".title") %></h3>
  <%= t(".description") %>
</div>

<%= simple_form_for [:onboarding, @location, @user] do |f| %>
  <%= f.input :given_name %>
  <%= f.input :family_name %>

  <%= f.input :email %>
  <%= f.input :mobile_phone %>

  <%= f.association :primary_position,
    collection: current_company.positions %>

  <%= f.association :positions,
    collection: current_company.positions,
    as: :check_boxes %>

  <br />
  <div class="center">
    <%= f.submit %>
  </div>
<% end %>

<footer>
  <div>
    <%= link_to t(".back"), onboarding_location_users_path(@location), class: "button white" %>
  </div>

  <div>
    <%= link_to t(".continue"), onboarding_locations_path, class: "button orange" %>
  </div>
</footer>

