<div class="dashboards-availalbe-shifts-shift">
  <div class="date">
    <div><%= DateAndTime::Parser.new(date: trade.shift.date).dashboard_format(:long) %></div>
  </div>

  <div class="time">
    <div>
      <%= "#{MinutesToTime.for(trade.shift.minute_start)} - #{MinutesToTime.for(trade.shift.minute_end)}" %>
    </div>
    <div><%= trade.shift.position&.name %></div>
    <div>
      <% if trade.shift.location.name.present? %>
        <%= trade.shift.location.name  %>
      <% end %>
    </div>
  </div>

  <div class="accept">
    <%= link_to "Make an Offer", new_trade_offer_path(trade), class: "button" %>
  </div>
</div>
