<div class="dashboards-upcoming-shifts-shift">
  <div class="date">
    <div>
      <%= DateAndTime::Parser.new(date: shift.date).dashboard_format %>
    </div>
  </div>

  <div class="time">
    <div>
      <span>
        <%= "#{MinutesToTime.for(shift.minute_start)} - #{MinutesToTime.for(shift.minute_end)}" %>
      </span>
    </div>
    <div><%= shift.position&.name %></div>
    <div>8 hours.</div>

    <% if shift.location.name.present? %>
      <div><%= shift.location.name  %></div>
    <% end %>
  </div>

  <% if 1 == 2 %>
    <div class="location">
      <% if shift.location.name.present? %>
        <strong><%= shift.location.name  %></strong><br>
      <% end %>

      <%= AddressFormatter.for(shift.location).multiline_html %>
    </div>
  <% end %>
</div>
