<%= simple_form_for [:onboarding, @location], html: { class: "vertical_form" } do |f| %>
  <%= f.input :line_1 %>
  <%= f.input :line_2 %>
  <%= f.input :city %>
  <%= f.input :county_province %>
  <%= f.input :postalcode %>
  <%= f.input :time_zone, priority: /US/ %>


  <footer>
    <div>
      <%= link_to t(".back"),
        onboarding_locations_path,
        class: "button white" %>
    </div>
    <div>
      <%= f.submit class: "button orange" %>
    </div>
  </footer>
<% end %>
