<%= simple_form_for [:onboarding, @location], html: { class: "vertical_form" } do |f| %>
  <%= f.input :name %>
  <%= f.input :line_1 %>
  <%= f.input :line_2 %>

  <div class="inline">
    <%= f.input :city %>
    <%= f.input :county_province,
      as: :select, 
      include_blank: true,
      collection: CountiesProvinces.state_options
    %>
    <%= f.input :postalcode %>
  </div>

  <%= f.input :time_zone, priority: /US/ %>

  <footer>
    <%= link_to t(".back"),
      edit_onboarding_company_path,
      class: "button white" %>

    <%= f.submit "Save and Continue", class: "button" %>
  </footer>
<% end %>
