<% content_for(:sidebar) do %>
  <%= render partial: "onboarding/shared/wizard_steps",
    locals: { current_step: 2 } %>
<% end %>

<section>
  <div class="instructions">
    <h3><%= t(".title") %></h3>
    <%= t(".description") %>
  </div>

  <% if @locations.present? %>
    <table class="table">
      <% @locations.each do |location| %>
        <tr>
          <td>
            <%= AddressFormatter.for(location).address.join(", ") %>
          </td>
          <td>
            <%= AddressFormatter.for(location).city_state_zip %>
          </td>
          <td>
            <%= link_to t(".employees"), onboarding_location_users_path(location) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="light center">
      <%= t(".no_locations") %>
    </div>
  <% end %>

  <br>
  <div class="center">
    <%= link_to t(".add_location"), new_onboarding_location_path, class: "button" %>
  </div>

  <footer>
    <div>
      <%= link_to t(".back"),
        new_onboarding_position_path,
        class: "button white"
      %>

      <% if @locations.present? %>
        <%= link_to t(".start"),
           edit_onboarding_schedule_settings_path,
          class: "button"
        %>
      <% else %>
        <button class="disabled button" disabled="disabled">
          <%= t(".start") %>
        </button>
      <% end %>
    </div>
  </footer>
</section>
