<p><%= t(".hello") %> <%= @resource.email %>!</p>

<p><%= t(".reset_notice")%></p>

<p><%= link_to t(".link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".ignore") %></p>
<p><%= t(".link_notice")%></p>
