<%= render partial: "shared/marketing/top_nav" %>

<div class="marketing-company-inquiries-new">
  <div>
    <section class="content">
      <article>
        <div class="description">
          <h1>How can we help?</h3>
          Whether you're a Fortune 500 or a growing startup, we can help. Tell
          us a bit about you and we can show how our products help your business.
          <br />
          <br />
          We look forward to talking to you!
        </div>
      </article>
      <article>
        <div class="form">
          <%= simple_form_for [@inquiry] do |f| %>
            <header>
              <h3>Tell us about yourself and we'll get right back to you.</h3>
            </header>

            <section>
              <div class="inline">
                <%= f.input :first_name %>
                <%= f.input :last_name %>
              </div>

              <div class="inline">
                <%= f.input :job_title %>
                <%= f.input :company_name %>
              </div>
            </section>

            <footer>
              <%= f.submit "Connect With Us", class: "button purple" %>
            </footer>
          <% end %>
        </div>
      </article>
    </section>
  </div>
</div>

<%= render "products" %>

<%= render partial: "marketing/welcome/shared/divider_bar" %>
<%= render partial: "marketing/welcome/shared/footer" %>
