<%= render partial: "shared/marketing/top_nav" %>

<div class="public-companies-public-reports-new">
  <div class="report-form">
    <header>
      <h3>Submit Feedback For <%= @company.name %></h3>
    </header>


    <h4>Tell Us Your Story</h4>
    <%= simple_form_for [@company, @public_report] do |f| %>

      <%= f.input :incident_date,
        label: "About when did this happen?",
        data: { mindate: Date.today - 20.years, maxdate: Date.today + 1.day },
        as: :datepicker %>

      <%= f.input :still_happening,
        as: :select,
        include_blank: false,
        collection: [["Yes", true], ["No", false]],
        label: "Is this still happening" %>

      <%= f.input :category,
        include_blank: false,
        collection: PublicReport.category_options,
        label: "How would you categorize this incident?" %>

      <%= f.input :reported_to,
        as: :select,
        include_blank: false,
        label: "Did you report this incident to anyone?",
        collection: PublicReport.reported_to_options %>

      <%= f.input :experienced_retaliation,
        as: :select,
        include_blank: false,
        label: "If so did you experience any form of retaliation?",
        collection: [["Yes", true], ["No", false]] %>

      <%= f.input :job_affected,
        as: :select,
        include_blank: false,
        label: "Was/Is your Job Affected",
        collection: [["Yes", true], ["No", false]] %>


      <%= f.input :handled_satisfied,
        as: :select,
        include_blank: false,
        label: "Were you satisified with how the incident was handled?",
        collection: [["Yes", true], ["No", false]]%>


      <%= f.input :what_happened,
        input_html: { rows: 10 },
        label: "Describe What Happened" %>

      <br /><br />

      <h4>Who are you?</h4>
      <small>It's not required to let us know who you are but it helps us
        verify incidents. We will never reveal any of your information to
        any company or third party.
      </small>
      <br /> <br />
      <%= f.input :name, label: "Your Name" %>
      <br />
      <%= f.input :email, label: "Your Email" %>
      <br />

      <footer>
        <%= f.submit "Submit Feedback", class: "button purple" %>
      </footer>
    <% end %>
  </div>
</div>
