<tr>
  <td>
    We are <%= popular_time_range_time.level %> from
    <%= MinutesToTime.for(popular_time_range_time.time_start) %> to
    <%= MinutesToTime.for(popular_time_range_time.time_end) %>
  </td>
  <td>
  <%= link_to "Edit",
      edit_settings_popular_time_range_time_path(popular_time_range_time),
      class: "button link"
    %>
    <%= button_to "Delete",
      settings_popular_time_range_time_path(popular_time_range_time),
      class: "button link",
      method: :delete
    %>
  </td>
</tr>
