<div class="shift-display">
  <div class="date">
    <div><%= DateParser.new(date: trade.shift.date).month %></div>
    <div><%= DateParser.new(date: trade.shift.date).day %></div>
  </div>

  <div class="time">
    <%= "#{MinutesToTime.for(trade.shift.minute_start)} - #{MinutesToTime.for(trade.shift.minute_end)}" %>
  </div>

  <%# TODO: Remove nested boolean and simplify this logic %>
  <% if show_actions %>
    <% if trade.offers.any? { |offer| offer.user_id == current_user.id } %>
       <div class="offer-present">
        <div class="badge green">
          <%= t(".already_offered") %>
        </div>
      </div>
    <% else %>
      <div class="buttons">
        <%= link_to t(".make_offer"), new_trade_offer_path(trade), class: "button" %>
        <%= button_to t(".take_shift"), trade_trade_accept_path(trade), method: :post %>
      </div>
    <% end %>
  <% end %>

  <div class="location">
    <% if trade.shift.location.name.present? %>
      <strong><%= trade.shift.location.name  %></strong><br>
    <% end %>

    <%= safe_join(AddressFormatter.for(trade.shift.location).address, ("<br>".html_safe)) %>
    <%= AddressFormatter.for(trade.shift.location).city_state_zip %>
  </div>
</div>
<%# TODO: Get this stuff into a presenter or something. Dementer is angry %>
