<div class="shift-display">
  <div class="date">
    <div><%= presenter.month %></div>
    <div><%= presenter.day %></div>
  </div>

  <div class="time">
    <%= presenter.time %>
  </div>

  <%= render partial: presenter.actions_partial,
    locals: { presenter: presenter } %>

  <div class="location">
    <% if presenter.shift.location.name.present? %>
      <strong><%= presenter.shift.location.name  %></strong><br>
    <% end %>

    <%= AddressFormatter.for(presenter.shift.location).multiline_html %>
  </div>
</div>
