<%= simple_form_for location do |f| %>
  <div class="two-columns">
    <section>
      <article>
        <%= f.input :name %>
        <%= f.input :line_1 %>
        <%= f.input :line_2 %>
        <%= f.input :line_3 %>
        <%= f.input :city %>
        <%= f.input :county_province,
          as: :select, 
          include_blank: true,
          collection: CountiesProvinces.state_options
        %>
        <%= f.input :postalcode %>
        <%= f.input :country,
          as: :select,
          include_blank: true,
          collection: Countries.options
        %>
      </article>

      <article>
        <%= f.simple_fields_for :preference_attributes, location.preference do |pf| %>
          <%= pf.input :id, as: :hidden %>
          <%= pf.input :preferable_id, as: :hidden %>
          <%= pf.input :preferable_type, as: :hidden %>

          <%= pf.input :use_company_settings,
            as: :boolean,
            input_html: {
              class: "disable-toggle",
              data: { target: "#shift-preference-fields" }
            } %>

            <div id="shift-preference-fields">
              <%= pf.input :shift_overlap,
                disabled: pf.object.use_company_settings?,
                as: :select,
                include_blank: false,
                collection: PreferenceOptions.shift_overlap
              %>
              <%= pf.input :minimum_shift_length,
                disabled: pf.object.use_company_settings?,
                as: :select,
                include_blank: false,
                collection: PreferenceOptions.minimum_shift_length
              %>
              <%= pf.input :preferred_shift_length,
                disabled: pf.object.use_company_settings?,
                as: :select,
                include_blank: false,
                collection: PreferenceOptions.preferred_shift_length
              %>
              <%= pf.input :maximum_shift_length,
                as: :select,
                collection: PreferenceOptions.maximum_shift_length,
                disabled: pf.object.use_company_settings?,
                include_blank: false
              %>
              <%= pf.input :break_length,
                as: :select,
                collection: PreferenceOptions.break_length,
                disabled: pf.object.use_company_settings?,
                include_blank: false
              %>
            </div>
        <% end %>
      </article>
    </section>
  </div>

  <%= f.submit %>
<% end %>
