<%= simple_form_for location do |f| %>
    <section>
      <article>
        <%= f.input :name %>
        <%= f.input :line_1 %>
        <%= f.input :line_2 %>

        <div class="inline">
          <%= f.input :city %>

          <%= f.input :postalcode %>
        </div>


        <div class="inline">
          <%= f.input :county_province,
            as: :select,
            include_blank: true,
            collection: CountiesProvinces.state_options
          %>

          <%= f.input :country,
            include_blank: false,
            only: CountriesWhiteList.allowed,
            priority_countries: CountriesWhiteList.priorities %>
        </div>

        <%= f.input :time_zone, priority: /US/ %>
      </article>
    </section>

  <%= f.submit %>
<% end %>
