<div class="list-nav">
  <ul>
    <%= content_tag(:li, class: active?(edit_location_path(@location))) do %>
      <%= link_to t(".details"), edit_location_path(@location) %>
    <% end %>

    <%= content_tag(:li, class: active?(locations_location_users_path(@location))) do %>
      <%= link_to t(".employees"), locations_location_users_path(@location) %>
    <% end %>

    <%= content_tag(:li, class: active?(locations_location_schedule_rules_path(@location))) do %>
      <%= link_to t(".schedule_rules"), locations_location_schedule_rules_path(@location) %>
    <% end %>
  </ul>
</div>
