<div class="frame">
  <header>
    <div>
      <%= t(".title") %>
      <aside>
        <% if policy(:location).new? %>
          <%= link_to t(".new_location"), new_location_path %>
        <% end %>
      </aside>
    </div>
  </header>

  <section>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <tr></th>
        </tr>
    <% @locations.each do |location| %>
      <tr>
        <td>
          <%= link_to t(".show"), location_path(location) %>
          <% if policy(location).edit? %>
            <%= link_to t(".edit"), edit_location_path(location) %>
          <% end %>
          <%= link_to t(".calendar"), location_calendar_path(location) %>
        </td>
        <td><%= location.line_1 %></td>
        <td><%= location.city %></td>
        <td><%= location.county_province %></td>
      </tr>
    <% end %>
  </section>
</div>
