<div class="frame">
  <header>
    <div>
      <div class="rail">
        <section>
          <article>Locations</article>
          <aside>
            <%= link_to_if policy(:location).new?, "New Location", new_location_path do %>
              &nbsp;
            <% end %>
          </aside>
        </section>
      </article>
    </div>
  </header>

  <section>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <tr></th>
        </tr>
    <% @locations.each do |location| %>
      <tr>
        <td>
          <%= link_to_if policy(location).edit?, "Edit", edit_location_path(location) do %>
            <%= link_to "show", location_path(location) %>
          <% end %>
        </td>
        <td><%= location.line_1 %></td>
        <td><%= location.city %></td>
        <td><%= location.county_province %></td>
      </tr>
    <% end %>
  </section>
</div>
