<div class="frame locations-index">
  <header>
    <div>
      <%= t(".title") %>
      <aside>
        <% if policy(:location).new? %>
          <%= link_to t(".new_location"), new_location_path %>
        <% end %>
      </aside>
    </div>
  </header>

  <section>
  <% if @locations.empty? %>
    <article class="centered">
      <%= t(".not_added") %>
    </article>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th></th>
        </tr>
    <% @locations.each do |location| %>
      <tr>
        <td>
          <%= link_to location.name || "Unnamed Location", location_path(location) %>

        </td>
        <td>
          <span>
          <%= location.line_1 %>
        </span>
        </td>
        <td class="narrow"><%= location.city %></td>
        <td class="narrow"><%= location.county_province %></td>
        <td class="narrow">
          <% if policy(location).edit? %>
            <%= link_to(edit_location_path(location),
                        title: "Edit",
                        data: { toggle: "tooltip" }) do %>
              <span class="oi oi-pencil"></span>
            <% end %>
          <% end %>
          <%= link_to(location_calendar_path(location),
                      title: "Calendar",
                      data: { toggle: "tooltip" }) do %>
            <span class="oi oi-calendar"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </section>
</div>
