<div class="frame">
  <header>
    <div>
      <div class="rail">
        <section>
          <article>Locations</article>
          <aside>
            <%= link_to "New Location", new_location_path %>
          </aside>
        </section>
      </article>
    </div>
  </header>

  <section>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <tr></th>
        </tr>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to "Edit", location_path(location) %></td>
        <td><%= location.line_1 %></td>
        <td><%= location.city %></td>
        <td><%= location.county_province %></td>
      </tr>
    <% end %>
  </section>
</div>
