<!DOCTYPE html>
<html>
  <head>
    <title><%= t(".page_title") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <% if content_for?(:stylesheets) %>
      <%= content_for(:stylesheets) %>
    <% end %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <% if content_for?(:javascripts) %>
      <%= content_for(:javascripts) %>
    <% end %>

    <%= favicon_link_tag "favicon.ico" %>

    <%= render partial: "layouts/shared/google_analytics",
      locals: { internal: true } %>
    <%= render partial: "layouts/shared/mixpanel" %>

    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <div class="app-container">
      <%= render partial: "layouts/shared/top_nav" %>
      <div class="site-content">
        <% unless @hide_side_nav %>
          <%= render partial: "layouts/shared/side_menu" %>
        <% end %>

        <div class="view-content <%= content_for(:view_content_classes) %>">
          <% if notice.present? %>
            <div class="notice"><%= notice %></div>
          <% end %>

          <% if alert.present? %>
            <div class="alert"><%= alert %></div>
          <% end %>

          <%= yield %>
        </div>

        <% if content_for?(:view_sidebar) %>
          <aside class="view-sidebar">
            <div>
              <%= content_for(:view_sidebar) %>
            </div>

            <%= render partial: "layouts/shared/side_popup" %>
          </aside>
        <% end %>
      </div>
    </div>

    <div id="tracking-data"
         style="display:none"
         data-page-name="<%= "#{controller_path}##{action_name}" %>">
    </div>

    <%= render partial: "layouts/shared/js_i18n" %>

    <%= render partial: "layouts/shared/fullstory" %>
    <% if content_for?(:tracking) %>
      <%= content_for(:tracking) %>
    <% end %>
  </body>
</html>
