<!DOCTYPE html>
<html>
  <head>
    <title><%= t(".page_title") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <% if content_for?(:stylesheets) %>
      <%= content_for(:stylesheets) %>
    <% end %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <% if content_for?(:javascripts) %>
      <%= content_for(:javascripts) %>
    <% end %>

    <%= favicon_link_tag "favicon.ico" %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400|Roboto:300,400" rel="stylesheet">

    <% if Rails.env.production? %>
      <%= render partial: "layouts/shared/reamaze" %>
    <% end %>
    <%= render partial: "layouts/shared/google_analytics",
      locals: { internal: true } %>
    <%= render partial: "layouts/shared/mixpanel" %>

    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <div class="app-container">
      <%= render partial: "layouts/shared/top_nav" %>
      <div class="site-content">
        <%= render partial: "layouts/shared/side_menu" %>

        <div class="view-content">
          <% if notice.present? %>
            <div class="notice"><%= notice %></div>
          <% end %>

          <% if alert.present? %>
            <div class="alert"><%= alert %></div>
          <% end %>

          <%= yield %>
        </div>

        <% if content_for?(:view_sidebar) %>
          <aside class="view-sidebar">
            <%= content_for(:view_sidebar) %>
          </aside>
        <% end %>
      </div>
    </div>

    <div id="tracking-data"
         style="display:none"
         data-page-name="<%= "#{controller_path}##{action_name}" %>">
    </div>

    <% if content_for?(:tracking) %>
      <%= content_for(:tracking) %>
    <% end %>
  </body>
</html>
