<!DOCTYPE html>
<html>
  <head>
    <title>Scheduler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="app-container">
      <%= render partial: "layouts/shared/top_nav" %>
      <div class="site-content">
        <%= render partial: "layouts/shared/side_menu" %>
        <div class="view-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
