<!DOCTYPE html>
<html>
  <head>
    <title>Scheduleless</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag "favicon.ico" %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400|Roboto:300,400" rel="stylesheet">
  </head>

  <body>
    <div class="app-container">
      <%= render partial: "layouts/shared/top_nav" %>
      <div class="site-content">
        <%= render partial: "layouts/shared/side_menu" %>
        <div class="view-content">
          <% if notice.present? %>
            <div class="notice"><%= notice %></div>
          <% end %>

          <% if alert.present? %>
            <div class="alert"><%= alert %></div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <% if Rails.env.production? %>
      <%= render partial: "layouts/shared/reamaze" %>
    <% end %>

    <%= render partial: "layouts/shared/google_analytics",
      locals: { internal: true } %>

  </body>
</html>
