<html>
  <head>
    <title><%= t(".#{current_domain}_page_title") %></title>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="title" content="<%= t(".#{current_domain}_meta_title") %>" />
    <meta name="description" content="<%= t(".#{current_domain}_meta_description") %>" />

    <% if coworkability? %>
      <%= favicon_link_tag "favicon.ico" %>
    <% else %>
      <%= favicon_link_tag "scheduleless_favicon.ico" %>
    <% end %>

    <%= stylesheet_link_tag "marketing", media: "all", "data-turbolinks-track": "reload" %>

    <%= render partial: "layouts/shared/google_analytics",
      locals: { internal: false } %>
    <%= render partial: "layouts/shared/mixpanel" %>

    <%= javascript_include_tag "marketing" %>
    <%= render partial: "shared/facebook_js_sdk" %>
  </head>

  <body data-turbolinks="false" class="<%= "coworkability" if coworkability? %>">
    <%= yield %>

    <%= render partial: "layouts/shared/js_i18n" %>
    <div id="tracking-data"
         style="display:none"
         data-page-name="<%= "#{controller_path}##{action_name}" %>">
    </div>
    <%= render partial: "layouts/shared/fullstory" %>
  </body>
</html>
