<html>
  <head>
    <title>Scheduler</title>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag    'marketing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'marketing', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400|Roboto:300,400" rel="stylesheet">

  </head>

  <body data-no-turbolink="true">
    <%= yield %>

    <%= render partial: "layouts/shared/google_analytics",
      locals: { internal: false } %>
  </body>
</html>
