<html>
  <head>
    <title><%= t(".page_title") %></title>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="title" content="<%= t(".meta_title") %>" />
    <meta name="description" content="<%= t(".meta_description") %>" />

    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag    'marketing', media: 'all', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <%= render partial: "layouts/shared/reamaze" %>
    <% end %>
    <%= render partial: "layouts/shared/google_analytics",
      locals: { internal: false } %>
    <%= render partial: "layouts/shared/mixpanel" %>
  </head>

  <body data-turbolinks="false">
    <%= yield %>

    <%= javascript_include_tag "marketing" %>
    <div id="tracking-data"
         style="display:none"
         data-page-name="<%= "#{controller_path}##{action_name}" %>">
    </div>
    <%= render partial: "layouts/shared/fullstory" %>
  </body>
</html>
