<html>
  <head>
    <title>Scheduler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'marketing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'marketing', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400|Roboto:300,400" rel="stylesheet">
  </head>

  <body data-no-turbolink="true">
    <%= yield %>

    <% if Rails.env.production? %>
      <%= render partial: "reamaze/reamaze",
        locals: { brand_subdomain: "support" } %>
    <% end %>
  </body>
</html>
