<!DOCTYPE html>
<html>
  <head>
    <title>Scheduleless</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag    'onboarding', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'onboarding', 'data-turbolinks-track': 'reload' %>

    <%# TODO: Change this to ENV Var %>
    <% if Rails.env.production? %>
      <%= render partial: "layouts/shared/reamaze" %>
    <% end %>

    <%= render partial: "layouts/shared/google_analytics",
      locals: { internal: false } %>
    <%= render partial: "layouts/shared/mixpanel" %>
  </head>

  <body>
    <section class="gradients">
      <div class="gradient"></div>
      <div class="gradient-2"></div>
    </section>

    <div class="container">
      <div class="wizard">
          <%= link_to root_path, class: "logo" do %>
            <div></div> <span>Scheduleless</span>
          <% end %>

        <div>
          <div class="frame">
            <% if content_for?(:sidebar) %>
              <%= content_for(:sidebar) %>
            <% end %>

            <div>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="tracking-data"
         style="display:none"
         data-page-name="<%= "#{controller_path}##{action_name}" %>">
    </div>

    <% if content_for?(:tracking) %>
      <%= content_for(:tracking) %>
    <% end %>

    <%= render partial: "layouts/shared/fullstory" %>
  </body>
</html>
