<!DOCTYPE html>
<html>
  <head>
    <title>Scheduleless</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag    'onboarding', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'onboarding', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="logo"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="frame">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var _support = _support || { 'ui': {}, 'user': {} };
      _support['account'] = 'scheduleless';
      _support['ui']['widget'] = true;
    </script>
    <%# TODO: Change this to ENV Var %>
    <% if Rails.env.production? %>
      <%= render partial: "layouts/shared/reamaze" %>
    <% end %>

    <%= render partial: "layouts/shared/google_analytics",
      locals: { internal: false } %>
  </body>
</html>
