<div class="instructions">
  <h3><%= t(".title") %></h3>
  <%= t(".description") %>
</div>

<div class="center">
  <%= t(".message") %>
</div>

<footer>
  <div>
    <%= link_to t(".back"),
      onboarding_locations_path,
      class: "button white"%>
  </div>

  <div>
    <%= simple_form_for [:onboarding, @schedule], url: onboarding_schedule_path do |f| %>
      <%= f.submit class: "button orange" %>
    <% end %>
  </div>
</footer>

